---
layout: opticon
seo_title: Opticon
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-opties
---
<div class="message-container container" l10n-skip>
  <p>{{page_data.message}}</p>
</div>
