---
layout: wrapper
TR_title: "404 Not Found"
logo_url: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/404/optyo.svg"
body_class:
 - four-o-four
---
<div class="four-cont">
  <div class="four-cont_logo" style="background-image: url('{{this.logo_url}}')"></div>
  <h1 class="four-cont_title">{{this.title}}</h1>
</div>

