---
layout: about
seo_title: About
visible_title: About
body_class:
- about-page
---
<div id="about-content">
  <h1>German adsafd About Page</h1>
  <img src="http://media3.giphy.com/media/L9Bgj4EMQfYpW/giphy.gif" alt="">
</div><!--/#about-content-->
