---
layout: simple.hbs
seo_title: "Opt out of Optimizely Onboarding"
page_header: false
body_class:
- mobile-opt-out
compact_header: true
---
  <div class="container">
    <div class="row">
      <div class="columns twelve">
        <h1>You have successfully opted out of Optimizely for iOS Onboarding</h1>
        <p>Other resources you may be interested in:</p>
          <ul>
            <li>Optiverse</li>
            <li>Knowledge Base</li>
          </ul>
            
        
      </div>
    </div><!--/.row-->
  </div>
