[push]
  default = current
[user]
  email = chris@optimizely.com
  name = teeyoutan
[alias]
  al = add .
  co = checkout
  cb = checkout -b
  st = status
  br = branch
  cm = commit -m
  pu = pull
  po = pull origin master
  ps = push