---
layout: page
TR_seo_title: Communities
TR_visible_title: Communities
body_class:
- communities-page
---
{{#each page_data.TR_groups}}
<div class="row">
  <h2>{{TR_group_name}}</h2>
  <img class="group-pic desktop-img" src="{{../assetsDir}}{{image}}" />
  {{{MD_text_content}}}
</div>
{{/each}}
