@mixin shadow($position) {
  background: url(/assets/img/bg-shadow.png) no-repeat center $position;
  content: " ";
  display: block;
  height: 25px;
  margin: 0 -15px;
}

@mixin responsive-vid-container($width: 16, $height: 9) {
  $ratio: ($height/$width) * 100%;
  position: relative;
  width: 100%;
  padding-top: $ratio;
}

@mixin responsive-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin pos-hor-vrt($top: 50%, $left: 50%, $tx: -50%, $ty: -50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($tx, $ty);
}

@mixin z-index-list($properties, $start: 0, $increment: 1) {
  @for $i from 1 through length($properties) {
    #{nth($properties, $i)} {
      z-index: $start + ( index($properties, nth($properties, $i)) * $increment);
    }
  }
}
 
@mixin z-index-nested($parent, $children, $start: 1, $increment: 1){
  z-index: $start;
  @include z-index-list($children, $start, $increment)
}

//Properties are the css property, show value, hide value -- ex. opacity 1 0
@mixin optly--animate($properties, $transition, $enter: true, $leave: true) {

  &.optly-hide {
    display: none!important;
  }
  
  @if ($enter == true) {
    &.anim-enter {
      @if (type-of(nth($properties, 1)) == list) {
        @each $val in $properties {
          $property: nth($val, 1);
          $hide-value: nth($val, 3);
          
          #{$property}: $hide-value;
        }
      } @else {
        $property: nth($properties, 1);
        $hide-value: nth($properties, 3);
  
        #{$property}: $hide-value;
      }
      transition: $transition;
    }
    
    &.enter {
      @if (type-of(nth($properties, 1)) == list) {
        @each $val in $properties {
          $property: nth($val, 1);
          $show-value: nth($val, 2);
  
          #{$property}: $show-value;
        }
      } @else {
        $property: nth($properties, 1);
        $show-value: nth($properties, 2);
  
        #{$property}: $show-value;
      }
    }
  }
  
  @if ($leave == true) {
  
    &.anim-leave {
      @if (type-of(nth($properties, 1)) == list) {
        @each $val in $properties {
          $property: nth($val, 1);
          $show-value: nth($val, 2);
  
          #{$property}: $show-value;
        }
      } @else {
        $property: nth($properties, 1);
        $show-value: nth($properties, 2);
  
        #{$property}: $show-value;
      }
      transition: $transition;
    }
  
    &.leave {
      @if (type-of(nth($properties, 1)) == list) {
        @each $val in $properties {
          $property: nth($val, 1);
          $hide-value: nth($val, 3);
          
          #{$property}: $hide-value;
        }
      } @else {
        $property: nth($properties, 1);
        $hide-value: nth($properties, 3);
  
        #{$property}: $hide-value;
      }
    }
  }
}

/* Example Usage
**
**
* $properties: transform translateX(0) translateX(100%) translateX(-100%), transform translateX(0) translateX(-100%) translateX(100%);
* $classes: move-left move-right;
* $transition: all 0.5s linear;

* .box {
*   @include optly--animate--opposite($properties, $transition, $classes);
* }
*/

@mixin optly--animate--opposite($properties, $transition, $classes) {

  &.optly-hide {
    display: none!important;
  }
  
  @for $i from 1 through length($classes) {
    $class: nth($classes, $i);
    $property: nth($properties, $i);
  
    &.#{$class} {
      &.anim-enter {
        @if (type-of(nth($property, 1)) == list) {
          @each $val in $property {
            $prop-name: nth($property, 1);
            $hide-value: nth($property, 3);
            
            #{$prop-name}: $hide-value;
          }
        } @else {
          $prop-name: nth($property, 1);
          $hide-value: nth($property, 3);
          
          #{$prop-name}: $hide-value;
        }
        transition: $transition;
      }
      
      &.enter {
        @if (type-of(nth($property, 1)) == list) {
          @each $val in $property {
            $prop-name: nth($val, 1);
            $show-value: nth($val, 2);
    
            #{$prop-name}: $show-value;
          }
        } @else {
          $prop-name: nth($property, 1);
          $show-value: nth($property, 2);
    
          #{$prop-name}: $show-value;
        }
      }
    
  
    
      &.anim-leave {
        @if (type-of(nth($property, 1)) == list) {
          @each $val in $property {
            $prop-name: nth($val, 1);
            $show-value: nth($val, 2);
    
            #{$prop-name}: $show-value;
          }
        } @else {
          $prop-name: nth($property, 1);
          $show-value: nth($property, 2);
    
          #{$prop-name}: $show-value;
        }
        transition: $transition;
      }
    
      &.leave {
        @if (type-of(nth($property, 1)) == list) {
          @each $val in $property {
            $prop-name: nth($val, 1);
            $hide-value: nth($val, 4);
            
            #{$prop-name}: $hide-value;
          }
        } @else {
          $prop-name: nth($property, 1);
          $hide-value: nth($property, 4);
    
          #{$prop-name}: $hide-value;
        }
      }
      
    } //end class wrapper
  } // end for loop
} // end @mixin


/* 
** mixin to create animated background icons in input placeholders
** should be used with following hbs:
**
** <input
** style="background-image: url('{{email_icon}}')" 
** type="email" 
** name="email" 
** placeholder="{{email}}"  
** required>
*/

@mixin anim-input-icons(
  $inputs: (), // nested list -- #1 input name, #2 override background-position-y, #3 override text indent
  $background-pos-x: 5px -25px, // list -- #1 starting background pos, #2 focusin bacground pos
  $background-pos-y: center, // string 
  $background-size: 22px 22px, //string
  $text-indent: 28px //string -- initial text indent
  ) {
    background-position: #{nth($background-pos-x, 1)} $background-pos-y;
    background-repeat: no-repeat;
    background-size: $background-size;
    padding-left: $text-indent;
    transition: all 0.2s;
    //create the input specific positioning
    @if(type-of( nth($inputs, 1) ) == list) {
      @each $list in $inputs {
        @if(length($list) > 0) {
          &[name="#{nth($list, 1)}"] {
            @if (nth($list, 1) == email) {
              background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/input-icons/email.svg');
            } @else if (nth($list, 1) == password) {
              background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/input-icons/lock.svg');
            } @else if (nth($list, 1) == password1) {
              background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/input-icons/lock.svg');
            }
            background-position-y: #{nth($list, 2)};
            @if(length($list) > 2) {
              padding-left: #{nth($list, 3)};
            }
            &:focus {
              background-position: #{nth($background-pos-x, 2)} $background-pos-y;
              padding-left: 3px;
            }
            &.has-input-val {
              background-image: none;
              padding-left: 3px;
            }
          }
        }
      }
    } 
    @else {
      @if(length($inputs) > 0) {
        &[name="#{nth($inputs, 1)}"] {
          @if (nth($inputs, 1) == email) {
            background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/input-icons/email.svg');
          } @else if (nth($inputs, 1) == password) {
            background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/input-icons/lock.svg');
          } @else if (nth($inputs, 1) == password1) {
            background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/input-icons/lock.svg');
          }
          background-position-y: #{nth($inputs, 2)};
          @if(length($inputs) > 2) {
            padding-left: #{nth($inputs, 3)};
          }
          &:focus {
            background-position: #{nth($background-pos-x, 2)} $background-pos-y;
            padding-left: 3px;
          }
          &.has-input-val {
            background-image: none;
            padding-left: 3px;
          }
        }
      }
    }
}

// Temporary until Lego is merged
@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i));
    }
    @if ($value == null) {
      @error "The value '#{$key}' doesn't exist in the map.";
    }
    @return map-fetch($value, $rest)
  } @else {
    @if ($value == null) {
      @error "The value '#{$key}' doesn't exist in the map.";
    }
    @return $value;
  }
}
