---
layout: page
TR_seo_title: Acceptable Use Policy
TR_visible_title: Acceptable Use Policy
---
<div class="row">
  <div class="columns ten offset-one">
    {{#with page_data}}
    {{#each terms}}
    <p>{{paragraph}}</p>
    {{/each}}
    {{/with}}
  </div>
</div>
