---
TR_title: "What We Learned at OptiCon 2014"
resources: true
TR_type: "Video"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/opticon_2014_highlights.png"
url: "https://www.youtube.com/watch?v=16bCgEd0cw0&list=PLawBOHHG5xVO4JbdPJKDFJgOISaeSFWSA "
priority: 10
---
<div></div>
