---
layout: page
TR_seo_title: Customers
TR_visible_title: "Over 7,000 Happy Customers"
TR_sub_head: Find out who's testing with Optimizely right now
page_script: customers.js
body_class:
- customers-page
---

<div class="customer-grid">
    <div class="row">
        <div class="columns customer-grid-item first-desktop">
            <div class="customer-logo sony"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo salesforce"></div>
        </div>
        <div class="columns customer-grid-item fico">
            <div class="customer-logo fico"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo trulia"></div>
        </div>
        <div class="columns customer-grid-item first-tablet">
            <div class="customer-logo abc"></div>
        </div>
        <div class="columns customer-grid-item first-desktop">
            <div class="customer-logo fox"></div>
        </div>
        <div class="columns customer-grid-item ">
            <div class="customer-logo guardian"></div>
        </div>
        <div class="columns customer-grid-item ">
            <div class="customer-logo cbs"></div>
        </div>
        <div class="columns customer-grid-item  first-tablet">
            <div class="customer-logo disney"></div>
        </div>
        <div class="columns customer-grid-item ">
            <div class="customer-logo techcrunch"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo clorox sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo signals sprite2"></div>
        </div>
        <div class="columns customer-grid-item first-tablet">
            <div class="customer-logo mtv ruelala sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo truste sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo taskrabbit sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo nymag sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo cars sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo lendingtree sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo ign sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo rocketlawyer sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo demand sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo legalzoom sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo ae sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo yelp sprite2"></div>
        </div>
        <div class="columns customer-grid-item">
            <div class="customer-logo livestrong sprite2"></div>
        </div>
    </div>
</div>
<div class="testimonials-container">
  <ul>
    {{#each page_data.slides}}
    <li {{#isnt @index 0}}class="optly-hide"{{/isnt}}data-slides={{@index}}>
      <q>{{header}}</q>
      <div class="logo-border">
        <img src="{{../assetsDir}}{{logo}}" alt="Customer Quote Logos">
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="button-container">
    <div class="slider-button" data-slider-nav="anim-left">
      <div class="arrow"></div>
    </div>
    <div class="slider-button" data-slider-nav="anim-right">
      <div class="arrow"></div>
    </div>
  </div>
 </div>
