@mixin opticon-confetti($url, $width, $height) {
  background-image: url(#{$url});
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: $width;
  height: $height;
}


body.opticon {
  .opticon-logo--nav { width: 120px; }
  background-color: white;
  .page-content {
    padding: 40px 0;
  }
  .page-title {
    background: $opticon-brand-blue;
    display: inline-block;
    color: #fff;
  }
  .adelle-sans {
    font-family: $adelle-sans-font-family;
    font-weight: 100;
    &--bold {
      font-family: $adelle-sans-font-family;
      font-weight: 600;
    }
  }
  .common-page-title {
    font-size: 2.75em;
    display: inline;
    padding: 7px 20px;
  }
  .subtitle {
    font-size: 1.25em;
    color: $almost-black-text-color;
    letter-spacing: 0.41px;
    line-height: 38px;
  }
  .description-title {
    font-size: 1.875em;
    color: $opticon-brand-blue;
    letter-spacing: 0.57px;
    line-height: 41px;
  }
  .description-text {
    font-size: 1em;
    color: $opticon-text-gray;
    letter-spacing: 0.56px;
    line-height: 31px;
    text-align: center;
  }
  .detail-text {
    font-size: 0.875em;
    color: $opticon-text-gray;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
  }
  .content-container { padding: 50px 0; }
  .button-container {
    text-align: center;
  }
  .flex-container {
    display: block; // Only for mobile
  }
  .item-title {
    font-size: 1em;
    color: $almost-black-text-color;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin: 0;
  }
  .item-source {
    font-size: 0.7em;
    color: #979797;
    letter-spacing: 1.5px;
    line-height: 28px;
    margin: -4px 0 20px 0;
    text-transform: uppercase;
  }
  .nav-text-item {
    margin: 15px 0;
    font-size: 0.87em;
    letter-spacing: 0.46px;
    line-height: 23px;
    display: block;
    &--internal-page { color: $opticon-nav-gray; }
    &:hover {
      text-decoration: none;
      color: $opticon-brand-blue;
      transition: all 0.2s ease-in-out;
    }
  }
  .opticon-button {
    font-size: 1em;
    color: $opticon-brand-blue;
    background-color: #fff;
    letter-spacing: 0.38px;
    border: 2px solid $opticon-brand-blue;
    border-radius: 3px;
    padding: 11px 35px;
    display: inline-block;
    margin: 30px 0;
    background-color: #fff;
    &:hover {
      text-decoration: none;
    }
    &.blue-hover:hover {
      background-color: #1999d1;
      border: 2px solid #1999d1;
      transition: all 0.2s ease-in-out;
    }
    &--internal-link {
      background: $opticon-brand-blue;
      color: #fff;
      padding: 10px 60px;
    }
    &--nav {
      margin: 0 75px;
      padding: 4px 25px;
      border-radius: 3px;
      &--footer {
        color: $light-text-color;
        border: 1px solid $light-text-color;
        font-size: 0.87em;
      }
      &--header {
        background: $opticon-brand-blue;
        color: white;
        font-size: 0.87em;
        margin-bottom: 20px;
      }
    }
  }
  .anim-opticon-button {
    @extend .opticon-button;
    transition: all 0.5s ease-out;
    position: relative;
    overflow: hidden;
    padding: 24px 100px !important;
    .cta-arrow {
      transition: all 0.5s ease-out;
      height: 52px;
      width: 60px;
      position: absolute;
      right: -60px;
      top: -4px;
      padding-top: 18px;
      border-left: 2px solid $brand-blue;
      text-align: center;
    }

    .cta-text {
      transition: all 0.5s ease-out;
      position: absolute;
      top: 13px;
      left: 50px;
    }
    &:hover {
      .cta-arrow {
        right: 0px;
      }
      .cta-text {
        left: 20px;
      }
    }
  }
  .disabled {
    font-size: 0.9375em;
    color: #979797;
    letter-spacing: 0.46px;
    line-height: 23px;
    display: inline-block;
    margin-top: 40px;
  }
  .register-section {
    padding: 30px 0;
    background: $opticon-brand-blue;
    border: 1px solid #DADADA;
    text-align: center;
    .register-title {
      font-weight: 100;
      font-size: 2em;
      color: #fff;
      letter-spacing: 0.61px;
      line-height: 41px;
      text-align: center;
      margin: 15px auto;
    }
  }
  .sponsors-section {
    padding: 30px 0 5px 0;
    text-align: center;
  }
  .small-sponsors-container {
    margin: 3px 0 80px 0;
  }
  .large-sponsor {
    width: 23%;
    height: 58px;
    background: #D8D8D8;
    margin: 10px;
  }
  .small-sponsor {
    width: 12%;
    height: 50px;
    background: #D8D8D8;
    margin: 3px;
  }
  .confetti-container {
    position: relative;
  }
  .confetti-left {
    @include opticon-confetti('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/pattern_left.svg', 450px, 450px);
    display: none;
  }
  .confetti-right {
    @include opticon-confetti('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/pattern_right.svg', 227px, 400px);
    right: 0;
    display: none;
  }
  .modal-body { position: relative; }
  .modal-footer,
  .modal-header {
    display: none;
  }
  .opticon-modal-container {
    &__left {
      text-align: center;
      &__image {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        padding-top: 125px;
        margin-bottom: 10px;
      }
    }
    &__right { text-align: center; }
    &__close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      padding-top: 35px;
      width: 35px;
      height: 0;
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/modal_close.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      &:hover { cursor: pointer; }
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon {
    .confetti-left,
    .confetti-right { display: block; }
    .common-page-title { font-size: 3em; }
    .flex-container { display: flex; }
    .description-text { text-align: left; }
    .detail-text { text-align: left; }
    .register-title { width: 50%; }
    .opticon-button--nav { margin: 0 0 0 15px; }
    .opticon-button--nav--footer { font-size: 1em; }
    .opticon-modal-container {
      display: flex;
      &__right {
        width: 60%;
        text-align: left;
      }
      &__left {
        width: 40%;
        padding: 10px 15px;
        text-align: center;
      }
    }
    .modal-dialog-container .dialog {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0;
    }
    .opticon-modal-container__close-icon {
      padding-top: 15px;
      width: 15px;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon {
    .opticon-button--nav--footer { font-size: 1.338em; }
  }
}
