---
layout: opticon
TR_seo_title: Opticon Confirmation
no_container: true
no_header: true
page_script: opticon.js
footer_style: grey
body_class:
- opticon-confirmation
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---
<div class="message-container">
  <p>Thank you for applying to speak at Opticon! If you would
  like to submit a second application, <a href="{{linkPath}}/opticon/speakers#apply">click here</a>.</p>
</div>
