---
layout: opticon.hbs
seo_title: Opticon About
no_container: true
no_header: true
no_footer: true
body_class:
- opticon-about
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---

{{#with opticon_about}}
<h2 class="page-title">{{page_title}}</h2>
{{/with}}
