/* layout */
$desktop-min-width: 960px;
$tablet-min-width: 769px;

/* type */
$body-font-family: Proxima, Helvetica, sans-serif;
$footer-desktop-font-size: .65em;
$include-fonts:(
  weights: 300 400 500 600,
  italics: true
);

/* colors */
$link-color: #0081ba;
$light-blue: #accff2;

$brand-blue: #0081ba;
$brand-blue-border: #007ab0;
$brand-blue-hover: #2091c3;
$brand-navy-blue: #00415d;
