/* layout */
$desktop-min-width: 960px;
$tablet-min-width: 769px;

/* type */
$body-font-family: Proxima, Helvetica, sans-serif;
$footer-desktop-font-size: .65em;
$include-fonts:(
  weights: 300 400 500 600,
  italics: true
);

/* colors */
$link-color: #4d89e2;
$footer-link-color: #accff2;

$bright-blue: #006eb6;
