---
TR_title: "The New Optimizely Stats Engine"
resources: true
TR_type: "Whitepaper"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/stats_engine_technical_paper.png"
url: "http://pages.optimizely.com/rs/optimizely/images/stats_engine_technical_paper.pdf"
priority: 86
---
<div></div>
