---
layout: page
seo_title: Terms of Service Agreement
visible_title: Terms of Service Agreement
sub_head: This Agreement was last revised on November 17, 2014.
---
<div class="row" l10n-skip>
	<div class="columns ten offset-one">
    <p>
      For customers subject to the previous Terms of Service (<a href="{{linkPath}}/terms/05/30/2013">available here</a>), the new terms below will be effective on November 30, 2014.
    </p>
		<h3>Optimizely, Inc.</h3>
      <p>
      Welcome to Optimizely.com, the website, mobile and online service of Optimizely, Inc. ("Optimizely," "we," or "us"). These terms govern the use of our services, websites, and software provided on or in connection with the service (collectively the "Service"). By accessing or using the Service, including by embedding our code on your site, you signify that you have read, understood, and agree to be bound by this Terms of Service Agreement ("Agreement"), and to the collection and use of your information as set forth in the <a href="{{linkPath}}/privacy" title="Optimizely Privacy Policy">Optimizely Privacy Policy</a>, whether or not you are a registered user of our Service.
      </p>
      <p>
        Optimizely may, in its sole discretion, modify or update this Agreement from time to time, and so you should review this page periodically. When we change this Agreement, we will update the ‘last revised’ date at the top of this page.  Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Service. If you do not agree to any of these terms or any future Terms of Service, do not use or access (or continue to access) the Service. This Agreement applies to all visitors, users, and others who access the Service ("Users").
      </p>
          <section>
            <h4 class="padding-top">1. Use of Our Service</h4>

            <p>Optimizely provides services for analytics and testing (including, but not limited, to A/B and multivariate testing).</p>

            <h5><strong>A. Member Accounts</strong></h5>
            <p>
              You need to register with Optimizely and create an account. You may never use another User’s account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account and you must keep your account password secure.  You must notify Optimizely immediately of any breach of security or unauthorized use of your account. Optimizely will not be liable for any losses caused by any unauthorized use of your account. By providing Optimizely your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. 
            </p>

            <h5><strong>B. Service Rules</strong></h5>
            <p>
You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated "scraping"; (ii) using any automated system, including without limitation "robots," "spiders," "offline readers," etc., to access the Service in a manner that sends more request messages to Optimizely than a human can reasonably produce in the same period of time by using a conventional on-line web browser; (iii) transmitting spam, chain letters, or other unsolicited email; (iv) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service; (v) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; (vi) uploading invalid data, viruses, worms, or other software agents through the Service; (vii) collecting or harvesting any personally identifiable information, including account names, from the Service; (viii) using the Service for any commercial solicitation purposes; (ix) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; (x) interfering with the proper working of the Service; (xi) accessing any content on the Service through any technology or means other than those provided or authorized by the Service; (xii) submitting to the Service or to Optimizely any personally identifiable information, except as necessary for the establishment of your account; (xiii) submitting to the Service or to Optimizely any information that may be protected under HIPPA (“HIPAA” means the Health Insurance Portability and Accountability Act, as amended and supplemented); or (xiv) bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein.
          </p>

            <p>
            We may, without prior notice, change the Service, stop providing the Service or features of the Service, or create usage limits for the Service. We may permanently or temporarily terminate or suspend your access to the Service without notice and liability if in our sole determination you violate any provision of this Agreement.
            </p>

            <h5><strong>C. Restrictions</strong></h5>
            <p>
            Except as expressly permitted under Section 2(A), you agree not to use, copy, modify, create a derivative work of, reverse engineer, decompile, or otherwise attempt to extract the source code of the software underlying the Service or any part thereof, unless this is expressly permitted or required by law, or unless authorized by Optimizely in writing.
            </p>

          </section><!-- Use of our service -->

          <section>
            <h4 class="padding-top">2. License Grant</h4>

            <h5><strong>A. License to You</strong></h5>

            <p>
              Subject to the terms and conditions of this Agreement (including any restrictions on any applicable authorization or order form), you are hereby granted a non-exclusive, limited, non-transferable, non-sublicensable, freely revocable, license to use the Service solely for your internal business purposes on your (1) web domains or websites, (2) mobile applications and/or (3) other types of platforms or properties as we may support (“Customer Properties”).  Optimizely reserves all rights not expressly granted herein in the Service and the Optimizely Content (as defined in Section 3).
            </p>
            <h5><strong>B. Licenses to Optimizely</strong></h5>
            <ul>
              <li>
                Customer Data. You expressly grant, and you represent and warrant that you have all rights necessary to grant, to Optimizely, a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, develop, transmit, distribute, modify, reproduce, publically display, and create derivative works of any Customer Data (as defined below) for the purposes of (a) providing the Services, or (b) developing, maintaining, supporting, or improving the Services.
              </li>
              <li>
                Name and Logo. You expressly grant, and represent and warrant that you have all rights necessary to grant, to Optimizely, a royalty-free, sublicensable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, and distribute your name, logo, or any other identifying words or marks used by and/or associated with you to identify you (“Your Marks”), in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Service, to identify you as a customer of Optimizely or for marketing and publicity purposes. 
              </li>
              <li>
                Optimizely aggregates Customer Data with other data so that results are non-personally identifiable with respect to you or your Visitors and also collects anonymous technical logs and data regarding use of the Optimizely Product (“Aggregate/Anonymous Data”). Notwithstanding anything to the contrary herein, such Aggregate/Anonymous Data will be deemed Optimizely Content (as defined below), which Optimizely may use for any business purpose during or after the term of this Agreement, including without limitation to develop and improve Optimizely’s products and services and to create and distribute reports and other materials. For clarity, this does not give Optimizely the right to identify you as the source of any Aggregate/Anonymous Data without your prior written permission.
              </li>
              <li>
                Feedback and Improvements. You may choose to or we may invite you to submit comments, suggestions, feedback, or ideas about the Service, including without limitation about how to improve the Service or our products ("Ideas"). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Optimizely under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, Optimizely does not waive any rights to use similar or related ideas previously known to Optimizely, or developed by its employees, or obtained from sources other than you.
              </li>
            </ul>

          </section><!--License Grant-->

          <section>
            <h4 class="padding-top">3. Ownership Rights</h4>

            <h5><strong>A. Optimizely's Proprietary Rights</strong></h5>

            <p>
              As between you and Optimizely, Optimizely and its licensors exclusively own all right, title and interest in and to the Service, including without limitation any improvements thereto, updates, and all materials therein or transferred thereby, including, without limitation, software, images, text, graphics, illustrations, logos, patents, trademarks, service marks, and copyrights (the "Optimizely Content"), and all Intellectual Property Rights (as defined below) related thereto and derivative works of the foregoing. Except as expressly provided herein, nothing in this Agreement shall be deemed to create a license in or under any such Intellectual Property Rights (as defined below), and you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from any materials or content accessible on the Service. Use of the Optimizely Content or materials on the Service for any purpose not expressly permitted by this Agreement is strictly prohibited.
            </p>

            <p>
              For the purposes of this Agreement, "Intellectual Property Rights" means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights, and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory, or other jurisdiction.
            </p>

            <h5><strong>B. Your Proprietary Rights</strong></h5>

            <ul>
              <li>
              <strong>Customer Properties.</strong> As between you and Optimizely and subject to Section 2(B), you own all right, title and interest in and to the Customer Properties and Customer Data  (as defined below) and all data and content embedded thereon or contained therein (excluding the Service), and any Intellectual Property Rights for any of the foregoing embodied therein. “Customer Data” means any Visitor Data (as defined above), profile information, data, and other content or information provided by you to Optimizely. 
              </li>
              <li>
              <strong>Visitor Data and Reports.</strong> When you use the Services, Optimizely collects certain technical information about visitors to Customer Properties (each, a “Visitor”) including, but not limited to: unique identifiers, device and operating system information, date and time of visit, and test and conversion information (“Visitor Data”). For clarity, the Service does not collect information Visitors may enter into online forms on Customer Properties (e.g. usernames, passwords, etc.).
              </li>
            </ul>

          </section><!--Ownership Rights-->

          <section>
            <h4 class="padding-top">4. Paid Services</h4>

            <h5><strong>A. Subscription Terms</strong></h5>
            <p>
              You acknowledge and agree that you shall be responsible for paying all fees due for the full term of your subscription, whether or not you cancel such subscription prior to the end of such term. You further acknowledge and agree that the term of your subscription shall automatically renew for additional successive terms equal to the period of your initial term, unless you provide Optimizely with written notice at least thirty (30) days prior to the end of the then-current subscription term. If you cancel or suspend your subscription before the end of the then current term, (1) all fees become immediately due and payable, (2) we reserve the right to immediately suspend access to your account, and (3) you will not receive any refunds. Optimizely also reserves the right to immediately suspend your subscription if you exceed your monthly usage allocations.
            </p>

            <h5><strong>B. Payment Information; Taxes</strong></h5>
            <p>
              All information that you provide in connection with any purchase of the Service must be accurate, complete, and current. You agree to pay all charges incurred by users of your credit card, debit card, or other payment method used in connection with a purchase or transaction or other monetary transaction interaction with the Service at the prices in effect when such charges are incurred. You shall pay all applicable subscription fees, including any sales, excise, service, use or other taxes now or hereafter imposed upon or required to be collected by Optimizely by any authority in connection with or arising from the Service and/or this Agreement, excluding taxes based upon Optimizely’s net income. You shall pay each invoice issued by Optimizely by the applicable due date and in the currency specified by Optimizely. Any amounts not paid when due shall bear interest at the rate of one and one-half percent (1.5%) per month or the maximum rate allowed by law, whichever is less. Optimizely reserves the right to suspend your account for late or non-payment.
            </p>

          </section><!--Subscription Terms-->

          <section>
            <h4 class="padding-top"><strong>5. Free Services</strong></h4>
            <p>
              <strong>If you receive a free or unsubscribed access subscription (“Free Access Subscription”) to the Service or a beta release product (“Beta Release”), then you may use the Service or Beta Release in accordance with the terms and conditions of this Agreement for the period designated in the order form or otherwise by Optimizely. Optimizely may terminate or immediately suspend your Free Access Subscription at any time for any reason without liability to you or if you go above your monthly usage allocations. Optimizely may revoke your right to use any Beta Release and any related services at any time without liability and does not guarantee that future versions of a Beta Release will be made available under the same commercial or other terms. You acknowledge your Free Access Subscription or Beta Release may not be complete or fully functional and may contain bugs, errors, omissions and other problems. NOTWITHSTANDING ANYTHING IN THIS AGREEMENT TO THE CONTRARY, OPTIMIZELY WILL HAVE NO WARRANTY, INDEMNITY OR SUPPORT OBLIGATIONS WITH RESPECT TO FREE ACCESS SUBSCRIPTIONS OR BETA RELEASES.</strong>
            </p>
          </section><!--Free Services-->

          <section>

            <h4 class="padding-top">6. Representations and Warranties</h4>
            <h5><strong>A. Corporate Authority and Compliance with Laws</strong></h5>
            <p>
              Each party warrants and represents that such party has full right, power, and authority to enter into and perform this Agreement without the consent of any third party. You hereby represent, warrant, and covenant to use the Service in accordance with all applicable laws. 
            </p>

            <h5><strong>B. Consent to Collection and Use of Customer Data</strong></h5>
            <p>
              In connection with any Customer Data, you hereby represent and warrant that (a) you have obtained all necessary rights, releases, and permissions to provide such Customer Data to Optimizely, and (b) the collection, use, and disclosure of such information by you does not violate any laws or rights of any third party, including without limitation any Intellectual Property Rights, rights of privacy, or rights of publicity, and is not inconsistent with the terms of any applicable privacy policies. Optimizely takes no responsibility and assumes no liability for any Customer Data that you or any other user or third party provides, posts, publishes or transmits over the Service. You shall be solely responsible for Customer Data and the consequences of using, disclosing, or transmitting it, and you agree that Optimizely is only acting as a passive conduit.
            </p>

          </section><!--Representations and Warranties-->

          <section>
            <h4 class="padding-top">7. Indemnity</h4>
            <p>
              You shall indemnify, defend, and hold harmless Optimizely from and against any and all third party claims, costs, damages, liabilities, and expenses (including reasonable attorneys’ fees and costs) arising out of or in connection with any claim based on (a) any Customer Data or Customer Properties (including without limitation any breach or alleged breach of your obligations and warranties in Section 6), or (b) any service or product offered by you in connection with or related to the Customer Properties.
            </p>

         </section><!--Indemnity-->

          <section>
            <h4 class="padding-top">8. No Warranty</h4>

            <p>
              EXCEPT FOR THE LIMITED WARRANTY IN SECTION 6, ALL SERVICES ARE PROVIDED “AS IS”. NEITHER OPTIMIZELY NOR ITS SUPPLIERS MAKES ANY OTHER WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT. YOU MAY HAVE OTHER STATUTORY RIGHTS. HOWEVER, THE DURATION OF STATUTORILY REQUIRED WARRANTIES, IF ANY, SHALL BE LIMITED TO THE SHORTEST PERIOD PERMITTED BY LAW. OPTIMIZELY SHALL NOT BE LIABLE FOR DELAYS, INTERRUPTIONS, SERVICE FAILURES AND OTHER PROBLEMS INHERENT IN USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS OR OTHER SYSTEMS OUTSIDE THE REASONABLE CONTROL OF OPTIMIZELY. OPTIMIZELY DOES NOT WARRANT THAT ANY CHANGES YOU MAKE TO THE CUSTOMER PROPERTIES WILL MEET YOUR EXPECTATIONS AND IS NOT RESPONSIBLE FOR ANY DECISIONS OR ACTIONS TAKEN (OR NOT TAKEN) BY YOUR BASED UPON USE OF THE SERVICES.
            <p>
          </section><!--No Warranty-->

          <section>
            <h4 class="padding-top">9. Limitation of Liability</h4>
            <p>
              NEITHER OPTIMIZELY NOR ITS SUPPLIERS WILL BE LIABLE FOR ANY LOSS OF USE, LOST OR INACCURATE DATA, FAILURE OF SECURITY MECHANISMS, INTERRUPTION OF BUSINESS, COSTS OF DELAY OR ANY INDIRECT, SPECIAL, INCIDENTAL, RELIANCE OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING LOST PROFITS), REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, EVEN IF INFORMED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE. OPTIMIZELY’S AND ITS SUPPLIERS’ ENTIRE LIABILITY TO YOU SHALL NOT EXCEED THE AMOUNT ACTUALLY PAID OR PAYABLE BY YOU TO OPTIMIZELY UNDER THIS AGREEMENT DURING THE THEN CURRENT SUBSCRIPTION TERM.
            </p>

            <p>
              The parties agree that the limitations specified in this Section 9 will survive and apply even if any limited remedy specified in this Agreement is found to have failed of its essential purpose. Each party acknowledges that the foregoing limitations are an essential element of the Agreement and a reasonable allocation of risk between the parties and that in the absence of such limitations the pricing and other terms set forth in this Agreement would be substantially different.
            </p>

          </section><!--Limitation of Liability-->


          <section>
            <h4 class="padding-top">10. Confidentiality</h4>
            <p>
              “Confidential Information” of either party will mean information disclosed to or learned by the receiving party concerning the disclosing party’s business, customers, products, proposed products, plans, inventions, processes and techniques, which is designated as “Confidential”, “Proprietary” or some similar designation or should reasonably be considered to be confidential or proprietary due to its nature or the context of its disclosure. Confidential Information does not include information that: (i) is or becomes generally known to the public through no fault or breach on the part of the receiving party; (ii) the receiving party obtains from a third party rightfully, without breach of nondisclosure obligations and without restriction on disclosure; or (iii) the disclosing party regularly provides to others without restriction on disclosure. Except as explicitly authorized in writing by this Agreement or otherwise, each party will: (a) not use, for its own benefit or the benefit of any third party, the other party's Confidential Information; and (b) use all reasonable care, but in no event less care than it takes to protect its own Confidential Information of similar importance, to protect the other party's Confidential Information from unauthorized use, disclosure and publication. Both parties acknowledge that the breach of this Section 12 could cause great or irreparable injury to the disclosing party and that pecuniary compensation would not afford adequate relief, and therefore, that upon any such unauthorized disclosure by the receiving party, the disclosing party shall be entitled to seek appropriate equitable relief in addition to whatever other remedies it might have at law. Within five (5) days after termination of this Agreement, each receiving party shall destroy or deliver to the disclosing party, at the disclosing party’s option, all materials in receiving party’s possession or control that contain or disclose any Confidential Information of the disclosing party.
            </p>

          </section><!--Confidentiality-->

          <section>
            <h4 class="padding-top">11. Termination</h4>
            <p>
              Optimizely, in its sole discretion, may terminate or suspend your account at any time if, in Optimizely’s sole discretion, you violate any term or provision of this Agreement without prior notice or liability to you. If you default in the performance of any material provision of this Agreement, including without limitation any payment obligations due under Section 4, then Optimizely may give written notice to you that if the default is not cured within ten (10) days the Agreement will be terminated. If Optimizely gives such notice and the default is not cured during the ten (10)day period, then the Agreement shall automatically terminate at the end of that period. Upon termination of your account, your right to use the Service will immediately cease and all amounts due shall become immediately due and payable. Sections 3, 4 (to the extent not satisfied), 6-13 shall survive any termination or expiration of this Agreement. Upon termination of this Agreement for any reason, you shall cease all use of the Service and you shall destroy and remove from all computers, hard drives, networks, and other storage media all copies of the Service and any the data, and shall so certify, if requested, to Optimizely that such actions have occurred.
            </p>

          </section><!--Termination-->

          <section>
            <h4 class="padding-top">12. Assignment</h4>
            <p>
              This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you without Optimizely’s prior written permissions, but may be assigned by Optimizely without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
            </p>

          </section><!-- Assignment-->

          <section>
            <h4 class="padding-top">13. General</h4>

            <h5><strong>A. Independent Contractors</strong></h5>
            <p>
              Neither party has the ability to bind the other party to any agreements or other obligations and will not attempt to do so. Optimizely and you are independent contractors, and nothing in this Agreement creates any partnership, joint venture or agency relationship. As between each other, each party is fully responsible for all persons and entities it employs or retains.
            </p>

            <h5><strong>B. Governing Law</strong></h5>
            <p>
              This Agreement shall be governed by the laws of the State of California, without respect to its conflict of laws principles. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. You agree to submit to the personal jurisdiction of a state court located in Santa Clara County, California or the United States District Court for the Northern District of California.  You agree that: (i) the Service shall be deemed solely based in California; and (ii) the Service shall be deemed a passive one that does not give rise to personal jurisdiction over Optimizely, either specific or general, in jurisdictions other than California. 
            </p>

            <h5><strong>C. Notification Procedures</strong></h5>
            <p>
            All notices from you to Optimizely must be given in writing and sent by registered or certified mail (postage prepaid and return receipt requested), by hand or messenger delivery, by overnight delivery service, by facsimile with receipt confirmed, by electronic mail, to Optimizely’s addresses provided on the Service. Any notice or report delivered in accordance with this Section will be deemed given on the date actually delivered; provided that any notice or report deemed given or due on a Saturday, Sunday, or legal holiday will be deemed given or due on the next business day. Optimizely may provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to you via email notice, written or hard copy notice, or through conspicuous posting of such notice on our website, as determined by Optimizely in our sole discretion. Optimizely reserves the right to determine the form and means of providing notifications to our Users, provided that you may opt out of certain means of notification. Opting out may prevent you from receiving email messages regarding updates, improvements, or offers.  Optimizely is not responsible for any automatic filtering you or your network provider may apply to email notifications we send to the email address you provide us. We recommend that you add <a href="mailto:email@optimizely.com">email@optimizely.com</a> to your email address book to help ensure you receive email notifications from us.
            </p>

            <h5><strong>D. Entire Agreement/Severability</strong></h5>
            <p>
              This Agreement, together with any authorization forms and amendments you may enter into with Optimizely in connection with the Service, shall constitute the entire agreement between you and Optimizely concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect.
            </p>
            <h5><strong>E. No Waiver</strong></h5>
            <p>
              No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and Optimizely's failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.
            </p>
            <h5><strong>F. Export Restrictions</strong></h5>
            <p>
              You are responsible for compliance with all applicable laws and regulations, including but not limited to United States export and import regulations. You may not use the Service if you are a resident of a country embargoed by the United States, or are a foreign person or entity blocked or denied by the United States government.
            </p>
            <h5><strong>G. DMCA</strong></h5>
            <p>
              You shall be responsible for handling and processing notices of alleged infringement by Customer Properties in accordance with the Digital Millennium Copyright Act (or any successors thereto or similar laws in foreign jurisdictions) (“DMCA”) and shall promptly notify Optimizely if you become aware of any such notices or takedown requests. Notwithstanding the foregoing, without limiting Optimizely’s other rights and remedies hereunder, Optimizely reserves the right to respond to any DMCA notices it receives in accordance with its DMCA policies and to suspend or terminate access to the Service for repeat infringers.
            </p>
            <h5><strong>H. Eligibility</strong></h5>
            <p>
              You may use the Service only if you can form a binding contract with Optimizely, and only in compliance with this Agreement and all applicable local, state, national, and international laws, rules and regulations. Any use or access to the Service by anyone under 13 is strictly prohibited and in violation of this Agreement.
            </p>
        </section>
	</div>
</div>
