---
TR_title: "The Guide to a Data-Driven Optimization Strategy"
resources: true
TR_type: "eBook"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/data_dna.png"
url: "http://pages.optimizely.com/eBook-Data-DNA.html"
priority: 46
---
<div></div>
