---
TR_title: "The Optimized App: A/B Testing Goes Mobile"
resources: true
TR_type: "Infographic"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/ab_testing_goes_mobile.png"
url: "https://blog.optimizely.com/2014/05/09/the-optimized-app-ab-testing-goes-mobile/ "
priority: 66
---
<div></div>
