---
layout: page
TR_seo_title: German Home Page
TR_visible_title: German Home Page
body_class:
- about-page
---
<div id="about-content">
  <h1>{{this.visible_title}}</h1>
  <img src="http://media3.giphy.com/media/L9Bgj4EMQfYpW/giphy.gif" alt="">
</div><!--/#about-content-->
