---
layout: resources-page.hbs
seo_title: Resources
visible_title: "Resources"
sub_head: Everything you need about Optimization
page_script: resources-page.js
body_class:
- resources-page
---


<div class="resource-g-item">
  <div class="resource-image data-dna"></div>
  <div class="resource-text">
    <div class="resource-title">Building your Company's Data DNA</div>
    <div class="resource-type">EBook</div>
  </div>
</div>

<div class="resource-grid">
    <div class="row">
        <div class="columns resource-grid-item first-desktop">
            <div class="resource-logo starbucks"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo salesforce"></div>
        </div>
        <div class="columns resource-grid-item fico">
            <div class="resource-logo fico"></div>
        </div>
        <div class="columns resource-grid-item first-desktop">
            <div class="resource-logo trulia"></div>
        </div>
        <div class="columns resource-grid-item first-tablet">
            <div class="resource-logo abc"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo fox"></div>
        </div>
        <div class="columns resource-grid-item ">
            <div class="resource-logo guardian"></div>
        </div>
        <div class="columns resource-grid-item ">
            <div class="resource-logo cbs"></div>
        </div>
        <div class="columns resource-grid-item  first-tablet">
            <div class="resource-logo disney"></div>
        </div>
        <div class="columns resource-grid-item ">
            <div class="resource-logo techcrunch"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo clorox sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo signals sprite2"></div>
        </div>
        <div class="columns resource-grid-item first-tablet">
            <div class="resource-logo mtv ruelala sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo truste sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo taskrabbit sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo nymag sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo cars sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo lendingtree sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo ign sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo rocketlawyer sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo demand sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo legalzoom sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo ae sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo yelp sprite2"></div>
        </div>
        <div class="columns resource-grid-item">
            <div class="resource-logo livestrong sprite2"></div>
        </div>
    </div>
</div>
