@mixin desktop {
  p, li {
    font-size: .95em;
    line-height: 1.6em;
    font-weight: 100;
  }
}

@media only screen and (min-width: $desktop-min-width){
  @include desktop;
}

.oldie {@include desktop;}

body {
  font-family: $body-font-family;
  color: #242424;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font-family;
  text-align: center;
}
p {
  font-size: 1.1em;
  font-weight: 100;
}
h4 {
  font-size: 1.15em;
}
