---
TR_title: "The Ultimate Guide to Optimizing Your Online Store"
resources: true
TR_type: "eBook"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/retail-ebook.png"
url: "http://pages.optimizely.com/eBook_The_Ultimate_Guide_to_Optimizing_Your_Online_Store.html"
priority: 96
---
<div></div>
