---
TR_title: "A Guide to Creating Provable ROI in Social Media"
resources: true
TR_type: "eBook"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/social_media_roi.png"
url: "http://pages.optimizely.com/eBooklet-Conversion-Engine-Social_Download-LP.html"
priority: 42
---
<div></div>
