header {
    background: $brand-navy-blue;
    .utility-nav {
      margin: 0;
      li {
        text-align: right;
        & > a {
          display: inline-block;
          &:hover {text-decoration: none;}
        }
        ul {
          padding-left: 0;
        }
      }
    }
}
.nav {
    padding: 0;
    li {
        list-style-type: none;
    }
    p, a {
        color: #fff;
    }
    a {
        text-decoration: none;
    }
}
@media only screen and (max-width: 59.99em) {
    body {
        background: $brand-navy-blue;
    }
    header {
        position: relative;
        .container {
          &:before,
          &:after {
            content: " ";
            display: table;
          }
          &:after {
            clear: both;
          }
        }
        nav {
            text-align: left;
            position: absolute;
            left: -80%;
            height: 100%;
            top: 0;
            width: 0;
            background: $brand-navy-blue;
        }
        nav:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 34px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        }
        .logo-cont {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            .logo {
                background-size: 130px 28px;
                width: 130px;
                height: 28px;
            }
        }
    }
    #outer-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    #inner-wrapper {
        position: relative;
        width: 100%;
        transform: translate(0);
        transition: transform .2s;
    }
    .mobile-nav-toggle,
    .user-nav-toggle {
      cursor: pointer;
    }
    .mobile-nav-toggle {
      float: left;
      padding: 10px 0;
    }
    #nav-menu {
        color: #fff;
        font-size: .8em;
        line-height: .9em;
        font-weight: 100;
        text-transform: uppercase;
        padding: 9px 5px;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 3px;
    }
    #main-nav > li {
        border-bottom: 1px solid $mobile-nav-border;
        border-top: 1px solid #08448a;
        overflow: hidden;
    }
    #main-nav > li.first {
        border-top: 0;
    }
    #main-nav {
        margin: 0;
        p, a {
            padding: 15px 0 15px 22px;
            margin: 0;
            display: block;
            font-size: 1.1em;
        }
        ul {
            transition: max-height .2s;
            margin: 0;
            padding: 0 0 0 10px;
            a {
                font-size: .8em;
                font-weight: 100;
            }
        }
    }
    body.mobile-nav-ready #main-nav ul:not(.active) {
        max-height: 0!important;
    }
    #main-nav p {
        position: relative;
    }
    #main-nav p:after {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        background: image-url('arrow.svg');
        position: absolute;
        left: 5px;
        top: 17px;
        transform: translate(0);
        transition: transform 50ms;
        cursor: pointer;
    }
    #main-nav > li.active p:after {
        transform: rotate(90deg);
    }
    li li {
        a {

        }
    }
    #user-nav-cont {
        float: right;
        padding: 10px 0;
    }
    #user-icon {
        height: 31px;
        width: 31px;
    }
    #user-icon-path {
        fill: #fff;
    }
    #utility-nav-cont:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 34px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
    #utility-nav-cont {
        right: -80%;
        height: 100%;
        top: 0;
        width: 0;
        position: absolute;
        text-align: left;
        box-sizing: border-box;
    }
    body.nav-open {
        #inner-wrapper {
            transform: translate(80%);
        }
        nav {
            width: 80%;
        }
    }
    body.user-nav-open {
        #inner-wrapper {
            transform: translate(-80%);
        }
        #utility-nav-cont {
            width: 80%;
        }
    }

    body.compact-header {
      header {
        height: 51px;
      }
    }
}

@media only screen and (min-width: $desktop-min-width) {
  .container {
      position: relative;
  }
  #nav-menu,
  #user-nav-cont {
      display: none;
  }
  header {
      ul {
          text-align: right;
          padding: 0;
          margin: 0;
      }
      li {
          display: inline-block;
      }
      ul ul {
          display: none;
          background: linear-gradient(to bottom, #006896 0%, $brand-blue 15%, $brand-blue 100%);
      }
  }
  #top-nav-cont {
    background: $brand-navy-blue;
  }
  #main-nav-cont {
    background: $brand-navy-blue;
  }
  .logo-cont {
      position: absolute;
      left: 0;
      bottom: 0;
  }
  .utility-nav {
      margin: 0;
      li {
        cursor: pointer;
        text-align: left;
      }
      a {
          font-size: .8em;
          font-weight: normal;
          padding: 12px;
      }
      a:hover {
          background: $brand-blue-hover;
      }
  }
  #main-nav {
      p {
          margin: 0;
          cursor: pointer;
      }
      > li {
          border-top: 4px solid transparent;
          position: relative;
          > a, > p {
              font-weight: 500;
              padding: 1.1em 1.3em;
              display: block;
              font-size: 1em;
              line-height: 1.4em;
          }
          > a:hover {text-decoration: none;}
          ul {
              position: absolute;
              top: 50px;
              z-index: 5;
              max-height: auto!important;
              min-width: 245px;
              text-align: left;
              padding: 10px 0;
              z-index: 20;
              li {
                  width: 100%;
              }
              a {
                  padding: 0.2em 1.5em;
                  width: 100%;
                  display: block;
                  box-sizing: border-box;
                  font-size: .9em;
                  font-weight: 300;
              }
              a:hover {
                  background-color: $brand-blue-hover;
              }
          }
      }
      > li:hover {
          ul {display: block!important;}
          border-top: 4px solid $brand-blue-hover;
      }
  }
  body.compact-header {
    header {
      background: $brand-blue;
      height: auto;
      .logo-cont {
        float: left;
        position: static;
      }
    }
  }
}
