#opticon-footer {
  background: $faint-gray-bg;
  height: 285px;
  width: 100%;
  border-top: solid 1px $faint-gray-border;
  .social {
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    margin: 10px;
    display: none;
  }
  .social-container {
    display: flex;
    justify-content: center;
  }
  .facebook {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/facebook-icon.svg');
  }
  .twitter {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/twitter-icon.svg');
  }
}

@media only screen and (min-width: $tablet-min-width) {
  #opticon-footer {
    height: 140px;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
    .opticon-flex-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .social-container {
      justify-content: flex-end;
    }
    .opticon-logo {
      flex: 1;
    }
    .nav-text-item {
      margin: 0 15px;
      font-size: 1.338em;
    }
    .twitter {
      margin-right: 35px;
    }
  }
}
