#opticon-nav-bar {
  background-color: white;
  border-bottom: 1px solid #ccc;
  .opticon-logo {
    width: 155px;
    margin: 0 auto;
  }
  .nav-options {
    flex-flow: column-wrap;
    padding: 0;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  #opticon-nav-bar {
    padding: 10px 0;
    .opticon-flex-container {
      display: flex;
      align-items: center;
    }
    .opticon-logo {
      flex: 1;
    }
    .nav-text-item {
      margin: 0 22px;
    }
  }
}
