#opticon-footer {
  background: #EAF4F3;
  height: 400px;
  width: 100%;
  .nav-text-item {
    margin: 15px 0;
    font-family: AdelleSans-Regular;
    font-size: 1.338em;
    letter-spacing: 0.46px;
    line-height: 23px;
    color: $light-text-color;
    &:hover {
      text-decoration: none;
    }
    &.body-button {
      color: #0081BA;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  #opticon-footer {
    .opticon-flex-container {
      display: flex;
      align-items: center;
    }
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    .opticon-logo {
      flex: 1;
    }
    .nav-text-item {
      color: $light-text-color;
      margin: 0 30px;
    }
    .nav-text {
      font-size: 1.338em;
      color: $light-text-color;
    }
    .opticon-flex-container {
      justify-content: flex-end;
    }
    .social {
      background-repeat: no-repeat;
      background-size: contain;
      width: 35px;
      padding-top: 35px;
      margin: 10px;
    }
    .facebook {
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/facebook.svg');
    }
    .twitter {
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/twitter.svg');
      margin-right: 35px;
    }
  }
}
