---
layout: page
TR_seo_title: German About Page
TR_visible_title: German About Page
body_class:
- about-page
TR_page_content: true
---
<h1>{{this.TR_visible_title}}</h1>
<p>{{page_data.TR_name}}</p>
