---
TR_companies_header: "Already trusted by these amazing companies"
---
<section class="companies-panel">
  <div class="container">
    <div class="companies-header">
      <p>{{this.companies_header}}</p>
    </div>
    <div class="logo-container">
      <div class="bg-img-cont">
        <div class="sony bg-img"></div>
      </div>
      <div class="bg-img-cont">
        <div class="microsoft bg-img"></div>
      </div>
      <div class="bg-img-cont">
        <div class="bleacher-report bg-img"></div>
      </div>
      <div class="bg-img-cont">
        <div class="nbc bg-img"></div>
      </div>
      <div class="bg-img-cont">
        <div class="american-apparel bg-img"></div>
      </div>
    </div>
  </div>
</section>

