<ul class="contact-sales-fields clearfix">
  <li>
    <label id="first-name-label">
        <span>First name:</span>
        <span class="name-related error-hide error-right first_name-related">Required</span>
        <input type="text" name="first_name" autofocus required>
    </label>
  </li>
  <li>
    <label id="last-name-label">
        <span>Last name:</span>
        <span class="last_name-related error-hide error-right">Required</span>
        <input type="text" name="last_name" required>
    </label>
  </li>
  <li class="form-row">
    <label id="company-name-label">
        <span>Company name:</span>
        <span class="company_name-related error-hide error-right">Required</span>
        <input type="text" name="company_name" required>
    </label>
  </li>
  <li>
    <label id="job-title-label">
        <span>Job title:</span>
        <span class="title-related error-hide error-right">Required</span>
        <input type="text" name="title" required>
    </label>
  </li>
  <li class="form-row">
    <label id="email-address-label">
        <span>Email address:</span>
        <span class="email_address-related error-hide error-right">Required</span>
        <input type="email" name="email_address" required>
    </label>
  </li>
  <li>
    <label id="phone-number-label">
        <span>Phone number:</span>
        <span class="phone_number-related error-hide error-right">Required</span>
        <input type="tel" name="phone_number" required>
    </label>
  </li>
  <li class="form-row">
    <label id="website-label">
        <span>Website:</span>
        <span class="website-related error-hide error-right">Required</span>
        <input type="text" name="website" required>
    </label>
  </li>
  <li>
    <label id="website-label">
        <span>Monthly traffic:</span>
        <span class="traffic-related error-hide error-right">Required</span>
        <select id="traffic" name="traffic" required>
          <option value="0 - 20k Monthly Visitors">0 to 20k visitors</option>
          <option value="20k - 200k Monthly Visitors">20k to 200k visitors</option>
          <option value="200k - 2MM Monthly Visitors">200k to 2MM visitors</option>
          <option value="2m - 10MM Monthly Visitors">2MM to 10MM visitors</option>
          <option value="10MM - 50MM Monthly Visitors">10MM to 50MM visitors</option>
          <option value="50MM + Monthly Visitors">50MM+ visitors</option>
        </select>
    </label>
  </li>
</ul>
