<!--           -->
<!--FAQ Section-->
<!--           -->
<section class="faq-section">
{{#with faq_section}}
  <div class="faq-container">
    {{#each faqs}}
    <p class="question">{{question}}</p>
    <p class="answer">{{{answer}}}</p>
    {{/each}}
  </div>
  <p class="contact-text">{{contact.text}}</p>
  <p class="phone-number">{{contact.phone_number}}</p>
{{/with}}
</section>
