<!--                -->
<!--Register Section-->
<!--                -->
<section class="register-section">
  {{#with opticon_data.registration}}
  <h3 class="register-title adelle-sans">{{title}}</h3>
  <a class="arrow-button register-link" href="https://www.eventbrite.com/e/opticon-2015-tickets-14328636337">
    <div class="cta-text adelle-sans">{{cta}}</div>
    <div class="cta-arrow">→</div>
  </a>
  {{/with}}
</section>
