<!--                -->
<!--Speakers Section-->
<!--                -->
{{#with global_speakers_data}}
<section class="speakers container">
  <div class="speakers-container flex-container">
    {{#each speakers.keynote.speaker_list}}
    <div class="speaker-container" style="background-image: url('{{this.image}}')">
      <p class="item-title adelle-sans--bold">{{this.name}}</p>
      <p class="item-source adelle-sans">{{this.company}}</p>
      <p class="detail-text speaker-blurb adelle-sans">{{this.blurb}}</p>
    </div>
    {{/each}}
  </div>
</section>
{{/with}}
