<!--                -->
<!--Register Section-->
<!--                -->
<section class="register-section">
  {{#with opticon_data.registration}}
  <h3>{{title}}</h3>
  <a href="#">{{cta}}</a>
  {{/with}}
</section>
