<!--                -->
<!--Register Section-->
<!--                -->
<section class="register-section">
  {{#with opticon_data.registration}}
  <h3>{{title}}</h3>
  <a class="arrow-button" href="#">
    <div class="cta-text">{{cta}}</div>
    <div class="cta-arrow">→</div>
  </a>
  {{/with}}
</section>
