---
HTML_page_content: true
---
<label id="name-label">
    <span>Name</span>
    <span class="name-related error-hide error-right">Required</span>
    <input type="text" name="name" autofocus>
</label>
<label>
    <span>Work email</span>
    <span class="email-related error-hide error-right">Required</span>
    <input type="email" name="email" required>
</label>
<label>
    <span>Password</span>
    <span class="password1-related error-hide error-right">Required</span>
    <h5 class="password-req">Use at least 8 characters and a mix of upper/lowercase letters, numbers or symbols</h5>
    <input type="password" name="password1" required>
</label>
<label>
    <span>Confirm password</span>
    <span class="password2-related error-hide error-right">Required</span>
    <input type="password" name="password2" required>
</label>
<label id="phone-label">
    <span>Phone number</span>
    <input type="text" name="phone_number">
</label>
<div id="channels">
  <label><span>Channels You'd Like to Test</span></label>
  <div class="checkboxes">
    <label for="web"><input type="checkbox" name="Web_Interest__c"> Web</label>
    <label for="mobile_web"><input type="checkbox" name="Mobile_Web_Interest__c"> Mobile web</label>
    <label for="ios"><input type="checkbox" name="iOS_Interest__c"> iOS</label>
    <label for="android"><input type="checkbox" name="Android_Interest__c"> Android</label>
  </div><!--/.checkboxes-->
</div><!--/#channels-->
<div class="terms">
  <p>By clicking the &quot;Create account&quot; button below I agree to the <br><a href="{{linkPath}}/terms" target="_blank">Terms of Service</a> and <a href="{{linkPath}}/privacy" target="_blank">Privacy Policy</a>.</p>
</div>
<input id="hidden" type="hidden" name="hidden" value="" />
<input type="hidden" name="flow" value="nux"></input>
<input type="hidden" name="leadSource" value="Website">
<input type="hidden" name="Lead_Source_Category__c" value="Create Account">
<input type="hidden" name="Lead_Source_Subcategory__c" value="Optimizely">
<div class="options">
  <p>Already have an Optimizely account? <br><a class="show-sign-in" data-modal-click="signin">Sign in here</a></p>
  <p class="error-message error-hide">Create Account Error</p>
</div>
