---
layout: opticon.hbs
seo_title: Opticon Speakers
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-speakers
external_stylesheets:
- //cloud.typography.com/7838232/736966/css/fonts.css
---

<section class="title-container container">
  <h1 class="page-title common-page-title">{{speakers_data.page_title}}</h1>
  <h5 class="subtitle">{{speakers_data.sub_title}}</h5>
</section><!-- /.title-container -->

{{> opticon_keynote_speakers }}

</div><!-- /.row-->
