---
layout: original.hbs
hero:
 graphic: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/winning-variation.png"
 graphic_description: "Winning variation"
 graphic_swap_id: "ppc-default"
 experiment_count: true
customer_logos: true
form_heading: "Test it Out for Free"
form_body: |
  Welcome to Optimizely. Sign up for a free account and test out the most popular <span id="symmetry_test">A/B testing tool</span> on the planet!
customer_quote: "Optimizely removed every roadblock to landing page testing and allows us to quickly make user-driven decisions."
customer_quote_logo: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/sliderocket.png"
#graphics should be a png 110 x 83px with a transparent background
product_details:
  -
   heading: "About Optimizely"
   details: |
    * No technical skills required
    * Most popular testing tool on the planet
    * A user interface customers love
   graphic: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/about-optimize-graphic.png"
  -
   heading: "How it Works"
   details: |
    * Visually optimize your website
    * Choose the goals you want to track
    * Push live and watch ROI improve
   graphic: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/how-it-works.png"
---
