---
layout: wrapper
layout_script: false
layout_body_class: false
---
<div id="main">
  <div id="page-header">
    <div class="container">
      <div class="clearfix page-subheader-cont">
        <h1>{{this.TR_visible_title}}</h1>
      </div><!---->
    </div><!--/.container-->
  </div><!--/#page-header-->
  <div id="page-header-gradient"></div>
  <div id="page-content">
    {{#unless this.no_container}}<div class="container">{{/unless}}
      {% body %}
    {{#unless this.no_container}}</div><!--/.container-->{{/unless}}
  </div><!--/#content-->
</div><!--/#main-->
