---
layout: wrapper.hbs
layout_script: false
layout_body_class: false
---

<nav>
  <a href="{{linkPath}}/opticon">
    <img class="opticon-logo" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon_logo.svg" alt="Opticon 2015">
  </a>
  <ul class="nav-options">
    <li><a href="#">Sessions</a></li>
    <li><a href="#">Opties Awards</a></li>
    <li><a href="#">Speakers</a></li>
    <li><a href="#">Agenda</a></li>
    <li><a href="#">Sponsors</a></li>
  </ul>
</nav>

{{> body }}
