---
layout: wrapper.hbs
layout_script: false
layout_body_class: false
---

<nav>
  <a href="{{linkPath}}/opticon">
    <img class="opticon-logo" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon_logo.svg" alt="Opticon 2015">
  </a>
  <ul class="nav-options">
    <li><a href="{{linkPath}}/opticon#call-for-speakers">Call for Speakers</a></li>
    <li><a href="{{linkPath}}/opticon#call-for-sponsors">Sponsors</a></li>
    <li><a href="{{linkPath}}/opticon#register">Registration</a></li>
  </ul>
</nav>

{{> body }}
