---
layout: wrapper
layout_script: false
layout_body_class: false
---
<div id="main">
	<div id="page-header">
		<div class="container">
			<h1>{{this.visible_title}}</h1>
			{{!-- removed markedown helper here for i18n --}}
			{{#if this.sub_head}}
				<p>{{{this.sub_head}}}</p>
			{{/if}}
		</div><!--/.container-->
	</div><!--/#page-header-->
	<div id="page-header-gradient"></div>
	<div id="page-content">
		<div class="container">
			{% body %}
		</div><!--/.container-->
	</div><!--/#content-->
</div><!--/#main-->
