---
TR_title: "The Expert Survival Guide to Get Started with Optimization"
resources: true
TR_type: "eBook"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/opt_survival_guide.png"
url: "http://pages.optimizely.com/optimization-survival-guide.html"
priority: 68
---
<div></div>
