---
layout: page
TR_seo_title: Japan Home Page
TR_visible_title: Japan Home Page
body_class:
- home-page
TR_page_content: true
---
<div id="about-content">
  <h1>{{this.TR_visible_title}}</h1>
  <img src="http://media3.giphy.com/media/L9Bgj4EMQfYpW/giphy.gif" alt="">
</div><!--/#about-content-->
