---
TR_title: "How to Get More from Your Marketing Channels"
resources: true
TR_type: "eBook"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/optimization_playbook.png"
url: "http://pages.optimizely.com/the-experience-optimization-playbook.html "
priority: 60
---
<div></div>
