---
layout: page
seo_title: Optimizely API Terms
visible_title: Optimizely API Terms for Customers
---
<div class="row" l10n-skip>
  <div class="columns ten offset-one">
    {{#with page_data}}
    {{#each terms}}
    {{#isnt @index 0}}
    <h4 class="padding-top">{{@index}}. {{title}}</h4>
    {{/isnt}}
    <p>{{paragraph}}</p>
    {{/each}}
    {{/with}}
  </div>
</div>
