---
layout: page.hbs
seo_title: Employee Resources
visible_title: Employee Resources
body_class:
- employee-resources-page
---
{{#each employee-resources.groups}}
<div class="row">
  <h2>{{group_name}}</h2>
  <img class="group-pic" src="{{image}}" />
  {{#omarkdown}}{{{text_content}}}{{/omarkdown}}
</div>
{{/each}}
