header {
  margin-bottom: 30px;
}

h4.seo-form-heading {
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
}

#ppc-form {
  width: 400px;
  margin: 0 auto;
  #submit {
    width: 200px;
    margin-top: 10px;
  }
}

#seo-form {
  ul {padding: 0;}
  li {
    list-style-type: none;
    margin: 0;
    &.terms {
      text-align: center;
    }
  }
  input {
    margin-bottom: 10px;
    width: 100%;
  }
  button {
    width: 100%;
  }
  .oform-error-message, .oform-processing-show {
    display: none;
  }
}


@mixin desktop {
  header {
    margin-bottom: 40px;
  }
  .form-cont {
    width: 402px;
    margin: auto auto 100px auto;
  }
  #ppc-form {
    width: auto;
    margin: 0 auto;
    h4 {
      text-align: center;
    }
  }
  .social-numbers {
    float: left;
    width: 50%;
    .social-number {
      margin-bottom: 7px;
      font-size: 2.1em;
      text-align: left;
    }
  }
  h4.seo-form-heading {
    font-size: 1.2em;
  }
  p.seo-form-subheader {
    font-size: 0.95em;
  }
  #seo-form {
    #phone-email-cont div {width: 50%;}
    #phone-email-cont .right {
      padding-left: 10px;
    }
    #phone-email-cont .left {
      padding-right: 10px;
    }
    li.terms {
      text-align: left;
    }
    button {
      width: 200px;
      margin: 10px auto 0 auto;
      display: block;
    }
  }

}

@media screen and (min-width: $desktop-min-width){

  @include desktop;

}

.oldie {
  @include desktop;
}
