---
layout: original



#===============================================================================
# HERO SECTION: THE PART TO THE LEFT OF THE FORM (OPTIONAL)
## graphic - should be 447px in width and height depends
#===============================================================================
hero:
 TR_graphic: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/winning-variation.png"
 TR_graphic_description: "Winning variation"
 graphic_swap_id: "ppc-default"
 experiment_count: true



#===============================================================================
# FORM SECTION: SPECIFY THE COPY (REQUIRED)
## form_heading - optional
## form_body - optional
#===============================================================================
TR_form_heading: "Test it Out for Free"
MD_form_body: |
  Welcome to Optimizely. Sign up for a free account and test out the most popular <span id="symmetry_test">A/B testing tool</span> on the planet!



#===============================================================================
# PRODUCT DETAILS SECTION (OPTIONAL)
## heading - optional
## details - required
## graphic - optional (should be 110x83px transparent png)
#===============================================================================
TR_product_details:
  -
   TR_heading: "About Optimizely"
   MD_details: |
    * No technical skills required
    * Most popular testing tool on the planet
    * A user interface customers love
   graphic: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/about-optimize-graphic.png"
  -
   TR_heading: "How it Works"
   MD_details: |
    * Visually optimize your website
    * Choose the goals you want to track
    * Push live and watch ROI improve
   graphic: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/how-it-works.png"



#===============================================================================
# CUSTOMER QUOTE SECTION (OPTIONAL)
#===============================================================================
TR_customer_quote: "Optimizely removed every roadblock to landing page testing and allows us to quickly make user-driven decisions."
TR_customer_quote_logo: "https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/ppc/sliderocket.png"



#===============================================================================
# CUSTOMER LOGOS SECTION (OPTIONAL)
#===============================================================================
customer_logos: true
---
<span>{{this.dest.path}}</span>
