---
layout: wrapper.hbs
body_class:
- home-page
page_script: index.js
layout_script: false
layout_body_class: false
---
<div id="cta">
  <div class="container">
    <h1>A/B testing you'll actually use.</h1>
    <form id="test-it-out-form" action="/account/create" method="POST" class="signed-in-hide">
      <input type="text" placeholder="Type in a URL to try it out">
      <button type="submit" class="primary-button">Test it Out &raquo;</button>
    </form>
  </div><!--/.container-->
</div><!--/#cta-->
<div id="touch-cta" class="signed-in-hide">
  <h2>Create a free account</h2>
  <p>You're seconds away from running A/B tests!</p>
  <form id="touch-homepage-create-account-form" method="POST" action="/account/create" novalidate>
    {{> create-account-form-contents}}
    <input type="submit" value="Create account &raquo;" class="primary-button submit-btn">
  </form>
</div>
<div class="signed-in-show" id="signed-in-mobile">
  <a id="mobile-dashboard-link" href="/dashboard">Dashboard &raquo;</a>
</div>
