---
layout: wrapper
body_class:
- home-page
page_script: homepage.js
layout_script: false
layout_body_class: false
meta_tags:
- '<link rel="publisher" href="//plus.google.com/113842166556345533815"/>'
- '<meta name="msvalidate.01" content="C1A3B92B884297B25A614BCE029150EC" />'
HTML_page_content: true
---
<section id="cta">
  <a href="{{linkPath}}/opticon?aff=homepage_ad" class="opticon-ad"></a>
  <div class="container">
    <div class="cta-wrap fade-in">
      <h1>Make every experience count</h1>
      <p>One optimization platform for websites and mobile apps</p>
      <form id="get-started" novalidate autocomplete="off">
        <input type="email" name="email" placeholder="Work Email" id="email-input">
        <button type="submit">Test it Out &raquo;</button>
      </form>
    </div><!--/.cta-wrap-->
  </div><!--/.container-->
</section><!--/#cta-->
<section class="reasons">
  <div class="container">
    <div class="reasons-header">
      <p>Deliver your best customer experiences at every touchpoint on the web and mobile apps.</p>
    </div>
    <div class="flex-cont">
      <div class="reason-item" id="first-reason">
        <div class="list-title"><p>Get started and take action quickly</p></div>
        <ul>
          <li>Easy implementation&mdash;get started in minutes</li>
          <li>Code-free visual editor</li>
          <li>Best-in-class integrations</li>
        </ul>
      </div>
      <div class="reason-item" id="second-reason">
        <div class="list-title"><p>Powerful experiences, backed by data</p></div>
        <ul>
          <li>Multichannel optimization on the web and mobile</li>
          <li>Generates real-time ROI</li>
          <li>Targeted experiences for any audience</li>
        </ul>
      </div>
      <div class="reason-item" id="third-reason">
        <div class="list-title">
          <p>A trusted platform and support network</p>
        </div>
        <ul>
          <li>#1 experience optimization platform</li>
          <li>Expert support team & resources</li>
          <li>World-class solutions partners</li>
          <li>Fast, scalable, secure</li>
        </ul>
      </div>
    </div><!-- /flex-cont -->
  </div><!-- /container -->
</section><!-- /reasons -->

{{> companies_panel}}
