---
layout: wrapper.hbs
body_class:
- home-page
page_script: index.js
layout_script: false
layout_body_class: false
---
<div id="cta">
  <div class="container">
    <h1>Make every experience count</h1>
    <p>One optimization platform for websites and mobile apps</p>
    <button type="submit" class="primary-button">Get Started</button>
  </div><!--/.container-->
</div><!--/#cta-->
<div class="reasons">
  <div class="container">
    <div class="reasons-header">
      Deliver your best customer experiences at every touchpoint<br/>on the web and native mobile apps
    </div>
    <div class="reason-item columns four" id="first-reason">
      <div class="reason-logo"></div>
      <div class="list-title">Easy to Use and<br/>Powerful</div>
      <ul>
        <li>Get started in minutes</li>
        <li>Visual editor</li>
        <li>Best-in-class integrations</li>
      </ul>
    </div>
    <div class="reason-item columns four">
      <div class="reason-logo"></div>
      <div class="list-title">Powerful experiences,<br/>backed by data</div>
      <ul>
        <li>Cross-device optimization</li>
        <li>Real-time ROI</li>
        <li>Targeted experiences</li>
      </ul>
    </div>
    <div class="reason-item columns four">
      <div class="reason-logo"></div>
      <div class="list-title">A trusted platform and<br/>support network</div>
      <ul>
        <li>#1 experience optimization platform</li>
        <li>Expert support team & resources</li>
        <li>World-class solutions partners</li>
        <li>Fast, scalable, secure</li>
      </ul>
    </div>
  </div>
</div>
<div class="companies">
  <div class="container">
    <div class="companies-header">Already trusted by these amazing companies</div>
    <div class="row">
      <div class="columns company-grid-item">
        <div class="company-logo cnn"></div>
      </div>
      <div class="columns company-grid-item">
        <div class="company-logo starbucks"></div>
      </div>
      <div class="columns company-grid-item">
        <div class="company-logo microsoft"></div>
      </div>
      <div class="columns company-grid-item">
        <div class="company-logo salesforce"></div>
      </div>
      <div class="columns company-grid-item">
        <div class="company-logo guardian"></div>
      </div>
    </div>
  </div>
</div>
