---
TR_title: "How Veggie Tales & Solutions Partner Blue Acorn Increased Revenue 37%"
resources: true
TR_type: "Video"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/blue_acorn_veggies.png"
url: "https://www.youtube.com/watch?v=T0u2I3CegTE&list=UUoLZaNd2rZ0mFPBD2aSPD7A"
priority: 24
---
<div></div>
