/*               */
/*Companies Panel*/
/*               */
.companies-panel {
  padding: 1% 1%;
  background: #efefef;
  .container {
    margin-bottom: 10%;
  }
  .companies-header {
    p {
      margin: 12% 2% 8% 2%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      color:  #8C8C8C;
    }
  }
  .logo-container {
      padding-top: 3%;
      .bg-img-cont {
        padding: 0 50px;
        .bg-img {
          width: 100%;
          padding-top: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }
        .sony {
          background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/sony_gray.svg');
        }
        .microsoft {
          background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/microsoft_gray.svg');
        }
        .bleacher-report {
          background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/bleacher_report_logo_gray.svg');
        }
        .nbc {
          background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/nbc_universal_gray.svg');
        }
        .american-apparel {
          background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/american_apparel_logo_gray.svg');
        }
      }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .companies-panel {
    .companies-header {
      p {
        margin-top: 6%;
        font-size: 14px;
      }
    }
    .logo-container {
      display: flex;
      justify-content: center;
      .bg-img-cont {
        width: 20%;
        padding: 0 20px;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .companies-panel {
    height: 190px;
    .companies-header {
      p {
        margin: 20px 0 25px 0;
        text-align: center;
      }
    }
    .logo-container {
      padding-top: 0;
      img {
        width: 20%;
      }
    }
  }
}
