/*            */
/*Feature List*/
/*            */

#feature-list {
  .current-plan-message {display: none;}
  /*Title Section*/
  .title-table-header {
    * {
      text-align: center;
    }
    .starter {
      width: 50%;
      float: left;
    }
    .enterprise {
      width: 50%;
      float: right;
    }
    h1 {
      font: 1.9em $body-font-family;
      color: $brand-blue;
      line-height: 36px;
      margin-bottom: 5px;
    }
    p {
      font: 0.9em $body-font-family;
      color: #9B9B9B;
      line-height: 19px;
      margin-top: 0;
    }
  }
  /*Table Sections*/
  .table ~ .table {
    margin-top: 75px;
  }
  .table {
    .table-header {
      border-top: 2px solid #DFDFDF;
      padding: 15px 0 20px 0;
    }
    .table-row {
      border: 1px solid #F0F0F0;
      border-left: none;
      padding: 0;
      p {
        padding-top: 20px;
        margin-top: 0;
        font: 0.87em $body-font-family;
        span {
          text-decoration: underline;
          width: 100%;
          &[data-tooltip] {
            text-indent: 0;
            &:before {
              background: none;
              height: 0;
            }
          }
        }
      }
      [data-tooltip-dialog] {
        background: rgba(38,38,38,0.70);
        border: 1px solid #262626;
        border-radius: 0px 0px 0px 2px 2px 2px 2px;
        &:after {
          left: 50%;
          border-bottom: none;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid rgba(38,38,38,0.70);
        }
      }
    }
    .table-title {
      font: 1em $body-font-family;
      font-weight: 600;
      color: $brand-navy-blue;
      letter-spacing: 0.39px;
      line-height: 18px;
    }
    .table-desc {
      font: 0.87em $body-font-family;
      color: #888B8C;
      letter-spacing: 0.3px;
      line-height: 18px;
    }
    .starter-box,
    .enterprise-box {
      background: #FAFAFA;
      height: 68px;
      width: 50%;
    }
    .starter-box {
      border-right: 2px solid #DFDFDF;
      float: left;
    }
    .enterprise-box {
      border-left: 2px solid #DFDFDF;
      float: right;
    }
    .text {
      text-align: center;
      font: 0.87em $body-font-family;
      color: #888B8C;
      letter-spacing: 0.3px;
      line-height: 19px;
    }
    .true,
    .false {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 30px;
    }
    .true {
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/pricing-and-features/checkmark.svg');
    }
    .false {
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/pricing-and-features/cross.svg');
    }
  }
  /*CTA Section*/
  .cta {
    margin-bottom: 150px;
    * { text-align: center; }
    h1 {
      font: 1.7em $body-font-family;
      color: #696F72;
      line-height: 29px;
    }
    .starter {
      width: 50%;
      float: left;
    }
    .enterprise {
      width: 50%;
      float: right;
    }
  }
  .enterprise-cta,
  .starter-cta {
    @extend .pricing-button;
    padding: 12px 15px;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  #feature-list {
    .title-table-header {
      .starter,
      .enterprise {
        width: 31.915%;
      }
      .starter {
        margin-left: 31.915%;
      }
    }
    .table {
      .starter-box,
      .enterprise-box {
        width: 31.915%;
      }
      .row-title {
        float: left;
        width:31.915%;
      }
      .table-row {
        [data-tooltip-dialog]:after {
          left: 9%;
        }
      }
    }
    .cta {
      .starter,
      .enterprise {
        width: 31.915%;
      }
      .starter {
        margin-left: 31.915%;
      }
    }
  }
}


@media only screen and (min-width: $desktop-min-width) {
  #feature-list {
    .title-table-header {
      .starter {
        margin-left: 34.043%;
      }
    }
    .cta {
      .starter {
        margin-left: 34.043%;
      }
    }
    .enterprise-cta,
    .starter-cta {
      padding: 12px 45px;
    }
  }
}
