$animprop: opacity 1 0;
$transition: all 0.2s linear;

html,
body {
  &.modal-open {
    overflow: hidden;
    height: 100%;
  }
}



.modal-dialog-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  // Custom animation styles
  @include optly--animate($animprop, $transition);
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 2px 10px #333;
    text-align: left;
    cursor: auto;
    overflow: hidden;
    overflow-y: scroll;
  }
  .account-terms {
    text-align: center;
    font-size: 1em;
  }
  .modal-header, .modal-footer {
    background: #f8f8f8;
    padding: 20px 40px;
  }
  .modal-header {
    border-bottom: 1px solid #eee;
    p {margin: 0;}
    span {
      font-weight: 400;
      font-size: 0.8em;
    }
    p.normal-header {
      font-family: $body-font-family;
      color: $brand-blue;
    }
  }
  .modal-body { padding: 22px 42px; }
  .modal-footer {
    @include breakpoint(tablet) {
      @include _(clearfix);
    }
    border-top: 1px solid #eee;
    input { width: 100%; }
    .primary-button,
    .right-button { margin-bottom: 25px; }
    button {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 190px;
      white-space: nowrap;
    }
    .hide-button {
      display: none;
    }
  }
  .modal-body {
    background: transparent;
    width: 100%;
    font-size: 0.8em;
    .modal-form-content {
      padding: 20px 40px;
    }
    h5 {
      margin: 0;
      font-size: 0.9em;
      font-weight: 100;
      color: #6b6b6b;
      text-align: left;
      &.error-show {
        color: #911d16;
      }
    }
    input {
      width: 100%;
      display: inline-block;
    }
    label {
      display: block;
      color: #6b6b6b;
      font-size: 0.9em;
      span {
        margin: 6px 0 3px 0;
        display: inline-block;
        line-height: 1.4;
      }
    }
    input[type="checkbox"] {
      width: auto;
      margin-bottom: 15px;
    }
    a {
      text-decoration: underline;
      cursor: pointer;
    }
    .terms {
      margin: 15px 0;
      font-weight: 400;
      text-align: center;
      br {
        display: none;
      }
      input {
        margin-right: 3px;
        width: auto;
        height: auto;
        text-align: left;
      }
      input,
      p { display: inline; }
    }
    .options {
      text-align: center;
      p {
        margin: 0;
        line-height: 1.4em;
        &:last-child {
         &.error-hide {
          position: relative;
          top: 5px;
         }
        }
      }
      a { text-decoration: none; }
    }
  }
  #signin-form {
    .terms {
      text-align: left;
    }
  }
  &.error-modal {
    span {
      display: block;
    }
    #optimizely_error_type {
      font-weight: bold;
      color: $text-color;
    }
    #optimizely_error_info {
      color: #888;
    }
  }
  &.webinar-modal {
    .webinar-info-cont { @extend .clearfix; }
    .webinar-detail-info {
      background: image-url('live-demo-webinar/calendar-icon.png') no-repeat top left;
      padding-left: 40px;
      padding-bottom: 10px;
    }
    .privacy-policy {
      text-align: center;
      margin-top: 30px;
    }
    h4 {margin: 0; text-align: left;}
    p { margin: 0; }
    p.webinar-date {
      font-weight: 500;
      font-size: 1.3em;
    }
    p.webinar-time { font-size: 1.2em; }
  }
  ul.contact-sales-fields {
    li {
      list-style-type: none;
    }
    .oform-error-show .error-hide {
      display: block;
      opacity: 1;
    }
  }
  #channels {
    text-align: center;
    label {
      display: block;
      margin-right: 15px;
      font-size: 1em;
    }
  }
  .checkboxes {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    div {
      text-align: center;
      width: 50%;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .modal-dialog-container {
    overflow: auto;
    background: transparent;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.498039));
    .dialog {
      position: relative;
      width: 600px;
      height: auto;
      margin: 100px auto;
      overflow: hidden;
    }
    .modal-body {
      .terms {
        br {
          display: inline;
        }
      }
    }
    input[type="checkbox"] {
      margin-bottom: auto;
    }
    #channels {
      text-align: left;
    }
    .checkboxes {
      text-align: left;
      flex-wrap: nowrap;
      div {
        padding-right: 12px;
        width: auto;
        white-space: nowrap;
      }
    }
    .options {
      br {
        display: none;
      }
    }
    .modal-footer {
      input { width: auto; }
      .primary-button {
        float: right;
        margin: 0;
      }
      .secondary-button { float: left; }
      &.no-primary-button {
        .secondary-button { float: right; }
      }
      .right-button {
        float: right!important;
        margin-bottom: 0;
      }
      button {width: auto;}
    }
    .webinar-detail-info { width: 350px; }
  }

}

@media only screen and (min-width: $desktop-min-width) {
  #contact-sales .dialog.narrow {
    width: 750px;
  }
  ul.contact-sales-fields {

    li {
      float: left;
      width: 46.5%;
      margin-right: 30px;
    }
    li:nth-child(even){
      margin-right: 0;
    }
    label span {font-weight: 500; font-size: 12px;}
  }
  .modal-footer {clear: both;}

}
