.circle-arrow {
  position: relative;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #fff;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
  }

  &.big {
    height: 60px;
    left: 0px;
    width: 60px;

    &:after {
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 17px solid #fff;
      left: 20px;
    }
  }
}
