$navs-to-index: main-nav dropdown-menu-top;
@include z-index-list($navs-to-index, 10, 10);

#signed-in-utility {
    > li:last-child {
    border-bottom: none;
  }
}

.utility-nav {
  margin: 0;
  .hide-in-mobile { display: none; }
  li {
    position: relative;
    border-bottom: 1px solid $mobile-nav-border;
    border-top: 1px solid #08448a;
  }
  a {
    padding: 12px 30px;
    text-align: right;
    cursor: pointer;
  }
  #mobile-email-nav {
    text-align: left;
    position: relative;
    left: 5px;
  }
  #desktop-email-nav {
    display: none;
  }
  #my-account-menu {
    &.admin {
      > a {
        color: #fcb423;
        &.dropdown-arrow:after {
          color: #fcb423;
        }
      }
    }
    .dropdown-menu-top { width: 100%; }
    li {
      border-bottom: 1px solid $mobile-nav-border;
      border-top: 1px solid #08448a;
    }
    #mobile-top-border {
      width: 100%;
      border-bottom: 1px solid $mobile-nav-border;
    }
    li:first-child,
    li:last-child {
      position: relative;
      border-top: 1px solid $mobile-nav-border;
    }
    li:first-child:before,
    li:last-child:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      border-top: 1px solid #08448a;
      z-index: 9999;
    }
  }
  .customer-email {
    white-space: nowrap;
  }
  .experiment-container {
    cursor: default;
    li {
      @include breakpoint(desktop) {
        @include _(clearfix);
      }
      cursor: default;
    }
    a {
      &.disabled {
        cursor: default;
        color: #aaa;
        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }
  .dropdown-menu-top {
    text-align: left;
    cursor: default;
    .hide-in-mobile { display: none; }
    &.show-dropdown { display: block; }
    li {
      width: 100%;
      display: block;
      border-bottom: 1px solid #042142;
      border-top: 1px solid #08448a;
    }
    #mobile-top-border {
      width: 100%;
      border-bottom: 1px solid #042142;
    }
    li:first-child { border-top: 1px solid #08448a; }
    a { 
      color: #fff; 
      &:hover {
        background: transparent;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .utility-nav {
    .hide-in-mobile { display: inline-block; }
    li {
      border: none;
      text-align: left;
    }
    a {
      padding: 9px 12px;
      text-align: left;
      font-size: 0.85em;
    }
    #desktop-email-nav {
      display: inline-block;
    }
    #mobile-email-nav {
      display: none;
    }
    .dropdown-menu-top {
      display: none;
      position: absolute;
      border: 1px solid #d5d5d5;
      background: #fff;
      .hide-in-mobile { display: inline-block; }
      li {
        width: 100%;
        display: block;
        border: none;
      }
      > li {
        border-top: 1px solid rgb(213, 213, 213);
        text-align: center;
      }
      a {
        color: #000;
        font-size: 0.8em;
        text-align: center;
      }
      a:hover { text-decoration: underline; }
      li:first-child { border-top: none; }
    }
    #mobile-top-border {
      display: none;
      border: none;
    }
    .dropdown-arrow {
      &:after {
        content: '\25be';
        color: #fff;
      }
    }
    .experiments {
      &.dropdown-arrow {
        &:after {
          padding-left: 3px;
        }
      }
    }
    .customer-email { 
      &.dropdown-arrow {
        &:after {
          padding-left: 5px;
        }
      }
    }
    .last {
      .dropdown-arrow:after { left: 10px; }
    }
    #experiment-nav-item { 
      position: relative; 
      .dropdown-menu-top {
        min-width: 200px;
      }
    }
    .show-create-experiment {
      text-align: center;
      a {
        position: relative;
        color: $brand-blue;
        display: inline-block;
        vertical-align: middle;
        padding: 9px 0;
        &:before {
          content: "+";
          position: absolute;
          left: -10px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    #view-all-experiments-link {
      text-align: center;
      position: relative;
      span {
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
      .view-all-icon {
        position: absolute;
        top: 40%;
        left: -10px;
        transform: translateY(-40%);
        width: 20px;
        height: 20px;
        background: image-url("common.png") no-repeat -23px -77px;
      }
    }
    .experiment-container {
      width: 100%;
      li {
        white-space: nowrap;
        padding: 0 12px 16px 12px;
      }
      &:first-of-type {
        li {
          padding-top: 16px;
        }
      }
      a {
        overflow: hidden;
        padding: 0;
      } a:first-child {
        max-width: 300px;
        float: left;
        width: 75%;
        text-align: left;
        text-overflow: ellipsis;
      }
      a:last-child {
        float: right;
        width: 25%;
        text-align: right;
        color: #aaa;
      }
      a:last-child:hover { color: #444; }
    } 
    .no-experiments {
      width: 200px;
      padding: 9px 0;
      display: inline-block;
      text-align: center;
    }
    #my-account-menu {
      li {
        border: none;
      }
      li { text-align: left; }
      li:first-child,
      li:last-child { border: none; }
      li:first-child:before,
      li:last-child:before {display: none!important;}
      a {
        padding: 8px 12px;
        text-align: left;
      }
      .dropdown-menu-top { 
        width: auto;
        right: 0;
        li {
          white-space: nowrap;
        } 
      }
      a { padding: 8px 12px; }
    }
  }
}
