---
TR_title: "4 Steps to More Scientific A/B Testing"
resources: true
TR_type: "Webinar"
photo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/resources/science_of_testing.png"
url: "http://blog.rjmetrics.com/2014/07/25/what-you-missed-4-steps-toward-scientific-ab-testing/"
priority: 34
---
<div></div>
