body.four-o-four {
  background-color: $brand-navy-blue;
  .four-cont {
    padding: 100px 0;
    margin: 0 auto;
    &_logo {
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &_title {
      font-size: 3.0em;
      font-weight: 400;
      font-family: $body-font-family;
      color: $white;
      text-align: center;
    }
  }

}

@media only screen and (min-width: $tablet-min-width) {

  body.four-o-four {
    .four-cont {
      height: 600px;
      height: 70vh;
      &_logo {
        max-width: 150px;
      }
    }
  }

}
