.android {
  .is-hidden {
    display: none;
  }
  background: #0081BA;
  padding: 65px 0;
  .btn {
    background: $dark-button-bg;
    padding: 12px 25px;
    text-align: center;
    height: 45px;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  &__content {
    padding-top: 40px;
    &,
    a,
    h1 {
      color: #fff;
      text-align: right;
    }
    h1 {
      font-family: $body-font-family;
      font-size: 33/16 * 1em;
      letter-spacing: 1/16 * 1em;
      line-height: 40px;
      span {
        display: block;
        font-weight: 500;
      }
    }
    p {
      font-size: 18/16 * 1em;
      line-height: 24/16 * 1em;
      letter-spacing: 0.5/16 * 1em;
      margin-bottom: 2em;
      a {
        text-decoration: underline;
      }
      &.android__content--smaller {
        font-size: 12/16 * 1em;
      }
    }
  }
  form {
    p {
      &.oform-error-message {
        margin: 0;
        font-size: 1/12 * 1em;
      }
    }
    input {
      $inputs: email 11px;
      @include anim-input-icons($inputs);
      &[type="email"] {
        position: relative;
      }
      &.oform-error-show {
        box-shadow: inset 0 0 0 3px #911d16;
      }
    }
  }
  input[type="email"],
  button[type="submit"] {
    border-radius: 4px;
    border: none;
    font-size: 14/16 * 1em;
    height: 45px;
    letter-spacing: 1.5/16 * 1em;
    margin: 0;
  }
  button[type="submit"] {
    background: $dark-button-bg;
    width: 133px;
    text-transform: uppercase;
  }
  @media all and (max-width: 768px) {
    padding: 20px 40px;
    img {
      width: 100px;
    }
    &__content {
      padding-top: 0;
      &,
      a,
      h1 {
        text-align: center;
      }
    }
  }
  @media all and (max-width: 768px) {
    form {
      .input-control {
        display: block;
        input {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
