body.android-page {
  background: #EDEEEE;
  #outer-wrapper {
    min-height: 100vh;
  }
  .oform-error-show,
  .error-show {
    color: #e58d88!important;
  }
  .bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .android {
    padding: 40px 40px;
    .is-hidden {
      transform: translateX(-150%);
      &.enter {
        transform: translateX(0);
      }
    }
    .is-visible {
      &.leave {
        transform: translateX(150%);
      }
    }
    .is-visible,
    .is-hidden {
      transition: all 0.3s linear;
      display: inline-block;
      width: 48%;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
    .btn {
      @extend .new-primary-button;
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
    }
    .flex-item {
      width: 90%;
      margin: 0 auto;
      position: relative;
      label,
      span,
      input {
        display: block;
      }
      span {
        text-align: right;
      }
      button {
        margin-top: 20px;
      }
    }
    img {
      width: 160px;
    }
    .flex-cont {
      display: flex;
      flex-direction: column;
    }
    .android__content {
      position: relative;
      overflow: hidden;
      padding-top: 0;
      height: 500px;
      &--smaller {
        margin-top: 20px;
      }
      &,
      a,
      h1 {
        color: #fff;
      }
      h1 {
        font-family: $body-font-family;
        font-size: 33/16 * 1em;
        letter-spacing: 1/16 * 1em;
        line-height: 40px;
        span {
          display: block;
          font-weight: 500;
        }
      }
      p {
        font-size: 18/16 * 1em;
        line-height: 24/16 * 1em;
        letter-spacing: 0.5/16 * 1em;
        margin-bottom: 2em;
        a {
          text-decoration: underline;
        }
        &.android__content--smaller {
          font-size: 12/16 * 1em;
        }
      }
      .options {
        padding-top: 10px;
        text-align: center;
        p {
          display: inline-block;
          font-size: 0.8em;
          margin: 0;
        }
      }
    }
    form {
      input {
        margin: 0;
        $inputs: email 11px 27px;
        @include anim-input-icons($inputs);
        &[type="email"] {
          position: relative;
        }
      }
    }
    input[type="email"] {
      border-radius: 5px;
      border: none;
      font-size: 0.9em;
      padding: 15px 4px;
      letter-spacing: 1.5px;
      width: 100%;
    }
    button[type="submit"] {
      width: 100%;
      @extend .new-primary-button;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {

	body.android-page {
    .flex-tablet {
      display: flex;
    }
    .android {
      padding: 65px 0;
      img {
        width: auto;
      }
      .flex-cont {
        flex-direction: row;
        justify-content: flex-end;
      }
      .flex-item {
        margin: 0;
        button {
          margin: 0;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        &:first-of-type {
          width: 250px;
          margin-right: 10px;
        }
        &:last-of-type {
          width: 140px;
        }
      }
      .android__content {
        padding-top: 40px;
        height: auto;
        &,
        a,
        h1 {
          color: #fff;
          text-align: right;
        }
        .options {
          text-align: right;
        }
      }
      form {
        .input-control {
          display: block;
          input {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

}

@media only screen and (min-width: $desktop-min-width) {

	body.android-page {

  }

}
