body.communities-page {
  .row {
    .group-pic {
      max-width: 90%;
    }
    &:last-child {
      margin-top: 1.5em;
    }
    &:nth-child(odd) {
      .group-pic {
        float: left;
        margin-left: 0;
      }
    }
    &:nth-child(even) {
      .group-pic {
        float: right;
        margin-right: 0;
      }
    }
  }
}


@media only screen and (min-width: $tablet-min-width) {
  body.communities-page {
    .row {
      .group-pic {
        width: 48%;
        margin: 0 1.5em;
      }
    }
  }
}
