body.employee-resources-page {
  .row {
    .group-pic {
      width: 48%;
      margin: 0 1.5em;
    }
    &:nth-child(odd) .group-pic {
      float: left;
    }
    &:nth-child(even) .group-pic {
      float: right;
    }
  }
}


@media only screen and (min-width: $desktop-min-width) {
  body.employee-resources-page {
    h4 {
    }
  }
}