body.feature-list {
  #page-content {
    background-color: white;
    padding-top: 35px;
  }
  #page-header {
    border-bottom: 2px solid #ccc;
  }
  #page-header-gradient {
    display: none;
  }
}

body.feature-list.plan-enterprise {
  #feature-list-get-started-now {display: none;}
  #feature-list-talk-to-us {display: none;}
  #feature-list-enterprise-cta-cont .current-plan-message {display: block;}
}

body.feature-list.plan-free_light {
  #feature-list-get-started-now {display: none;}
  #feature-list-starter-cta-cont .current-plan-message {display: block;}
}

@media screen and (min-width: $tablet-min-width) {
}
