body.features-and-plans {
  .current-plan-message {display: none;}
  #page-content {
    background-color: white;
  }
  /*           */
  /*PAGE HEADER*/
  /*           */
  #page-header {
    h1 {
      font: 24px $body-font-family;
      color: $brand-navy-blue;
      margin-top: 6px;
    }
    p {
      display: inline;
      &:first-of-type {
        margin-right: 15px;
      }
    }
    br {
      display: block;
    }
    .header-cta-container {
      display: none;
      font-family: $body-font-family;
      float: right;
      margin-top: 10px;
      margin-bottom: 10px;
      p:last-of-type {
        float: right;
        margin: -10px 0 0 0;
      }
    }
    .talk-button {
      @extend .pricing-button;
      padding: 12px 50px;
      margin-top: 15px;
      margin-right: 15px;
      background-image: linear-gradient(-180deg, #EEEFF3 0%, #E0E1E5 100%);
      border: 1px solid #D4D5D9;
      border-radius: 2px;
      font: 12px $body-font-family;
      color: $almost-black-text-color;
      line-height: 12px;
      &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
        background: #eee;
        border-color: #b8b8b8;
      }
    }
  }

  /*             */
  /*TITLE SECTION*/
  /*             */
  .title-section {
    background: #F3F6F8;
    border: 1px solid #E6E6E6;
    text-align: center;
    .title-copy {
      font: 35px $body-font-family;
      text-align: center;
      color: $brand-navy-blue;
      line-height: 61px;
      margin-bottom: 57px;
      margin-top: 60px;
    }
    .buttons-container {
      margin-bottom: 67px;
    }
    .learn-cta {
      @extend .pricing-button;
      background-image: linear-gradient(-180deg, $brand-blue-hover 3%, $brand-blue 100%);
      border: 2px solid $brand-blue-border;
      padding: 15px 45px;
      margin-bottom: 15px;
      box-shadow: none;
      font: $body-font-family;
      color: white;
      display: inline-block;
      span {
        padding: 3px 60px;
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/pricing/down_arrow.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 34px;
      }
    }
    .plans-cta {
      @extend .pricing-button;
      border: 2px solid $brand-blue;
      background-color: transparent;
      background-image: none;
      font: $body-font-family;
      color: $brand-blue;
      padding: 15px 87.5px;
      display: inline-block;
      &:hover {
        background: none;
      }
    }
  }

  /*                */
  /*BENEFITS SECTION*/
  /*                */
  .benefits-section {
    background: white;
    padding: 50px 0;
    .title-copy {
      text-align: center;
      font: 30px $body-font-family;
      color: $brand-navy-blue;
      line-height: 34px;
      padding: 0 0 50px 0;
    }
    .benefit-items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .benefit-item {
      text-align: center;
      padding-top: 99px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 122px 83px;
      margin-left: auto;
      margin-right: auto;
      h3 {
        font: 1em $body-font-family;
        font-weight: 500;
        text-align: center;
        color: $brand-navy-blue;
      }
      p {
        font-size: 15px;
        color: #888B8C;
        letter-spacing: 0.1px;
        line-height: 20px;
      }
    }
  }

  /*                 */
  /*FEATURES SECTIONS*/
  /*                 */
  .feature-section {
    border: 1px solid #EBEBEB;
    padding: 50px 0;
    h2 {
      font: 28px $body-font-family;
      color: $brand-navy-blue;
    }
    p {
      font: 15px $body-font-family;
      color: #696F72;
      line-height: 28px;
    }
    .description-container {
      width: 100%;
      float: left;
      padding: 150px 0 60px 0;
      background-repeat: no-repeat;
      background-position: center 75px;
      background-size: 80px;
    }
    .features-container {
      padding: 0;
      display: inline-block;
      h4 {
        font: 1em $body-font-family;
        font-weight: 500;
        color: #696F72;
        letter-spacing: 0.53px;
      }
      li {
        font-size: 15px;
        color: #9B9B9B;
        letter-spacing: 0.21px;
        line-height: 22px;
        margin: 10px 0;
      }
    }
    &.even {
      background: #F3F6F8;
    }
    &.odd {
      background: white;
    }
  }

  /*                  */
  /*Enterprise Section*/
  /*                  */
  .enterprise-section {
    background-image: radial-gradient(48% 112%, #005275 46%, $brand-navy-blue 100%);
    border: 1px solid #F0F0F0;
    * {
      text-align: center;
    }
    h2 {
      font-size: 36px;
      color: $light-blue;
      margin-bottom: 0;
      margin-top: 40px;
    }
    p {
      font-size: 18px;
      color: white;
      letter-spacing: 0.12px;
    }
    p:last-of-type {
      padding-bottom: 40px;
    }
    .subtitle {
      margin-top: 0;
    }
    .cta {
      @extend .pricing-button;
    }
  }

  /*               */
  /*Starter Section*/
  /*               */
  .starter-section {
    padding-bottom: 60px;
    background-color: white;
    * {
      text-align: center;
    }
    .title-copy {
      margin-bottom: 0;
      font-size: 24px;
      color: $brand-navy-blue;
    }
    .button-container {
      margin: 25px 0 60px 0;
    }
    a {
      text-decoration: underline;
    }
    .cta {
      @extend .pricing-button;
      background-image: linear-gradient(-180deg, #EEEFF3 0%, #E0E1E5 100%);
      border: 1px solid #D4D5D9;
      border-radius: 2px;
      font: 14px $body-font-family;
      color: $almost-black-text-color;
      padding: 12px 50px;
      &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
        background: #eee;
        border-color: #b8b8b8;
      }
    }
  }
}

body.features-and-plans.plan-enterprise {
  #starter-cta-cont, #enterprise-cta {display: none;}
  #enterprise .current-plan-message {display: block;}
}

body.features-and-plans.plan-free_light {
  #starter-cta {display: none;}
  #starter-cta-cont .current-plan-message {display: block;}
}

@media screen and (min-width: $tablet-min-width) {
  body.features-and-plans {
    #page-header {
      .header-cta-container {
        display: inline;
      }
    }
    .header-cta-container {
      display: block;
    }
    .title-section {
      .title-copy {
        font-size: 48px;
      }
      .learn-cta {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
    .feature-section {
      .description-container {
        width: 62%;
        padding: 0 0 0 110px;
        background-position: left 40px;
        background-size: 80px;
      }
      .features-container {
        width: 35%;
      }
      &.even {
        background: #F3F6F8;
        .features-container {
          float: right;
        }
      }
      &.odd {
        background: white;
        .description-container {
          float: right;
        }
      }
    }
    .benefit-item {
      width: 33%;
    }
  }
}
