body.ppc-page {
  #ppc-form h4 {
    text-align: center;
  }

  .header-wrapper {
    padding-top: 60px;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
  }

  .light-gray-section {
    padding: 50px 0;
  }

  .textured-section {
    padding: 50px 0;
    border-top: 1px solid #d5d5d5;
    box-shadow: inset 0px 0px 11px rgba(0,0,0,0.1);
    background: image-url('img/noise.png');
  }

  @media only screen and (min-width: $tablet-min-width) {

    #about-optimizely, #how-it-works {
      ul {
        width: 340px;
        margin: 0 auto;
      }
      
      li {
        list-style-type: disc;
        margin: 0;
        padding: 0;
      }
    }

    #about-optimizely {
      margin-bottom: 50px;
    }

    .customer-quote {
      text-align: center;
    }

    .pull-quote {
      color: #6b6b6b;
      display: block;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px #fff;
    }

    .customer-logos p {text-align: center;}
  }

  @media only screen and (min-width: $desktop-min-width) {

    #about-optimizely, #how-it-works {
      li {
        font-size: .9em;
      }

      background: image-url('ppc/free-trial-sprite-adjusted-2.png') no-repeat;
      p {
        margin: 0;
        line-height: 1em;
      }
    }

    #about-optimizely {
      padding-left: 130px;
      background-position: -1572px 0;
    }

    #how-it-works {
      padding-left: 145px;
      width: 400px;
      margin: 0 auto;
      background-position: -2830px 0;
    }
  }
}
