$desktop-content-width: 912px;

@media only screen and (min-width: $desktop-min-width) {
  body.getting-started {
    #page-content {
      height: 100vh;
      .container {
        margin-top: 5%;
        padding: 0;
      }
    }
  }
}
