body.homepage{
  #signed-in-mobile {
    display: none;
    margin: 1em 0 8em 0;
  }
  &.signed-in {
    #signed-in-mobile {
      display: block;
    }
    #touch-cta {
      display: none;
    }
  }
  .mobile-container {margin: auto;}
  #cta {
    height: 245px;
    min-height: 500px;
    overflow: hidden;
    background: image-url('homepage_graph.svg') no-repeat 100% 150%,
                radial-gradient(circle, rgb(10,82,112), rgb(8, 77, 106), rgb(0,65,93) 50%);
    .container {
      position: relative;
      z-index: 2;
      top: 50%;
      transform: translateY(-75%);
    }
    button[type=submit] {
      @extend .primary-button;
      display: inline-block;
      height: 40px;
      border-radius: 4%;
      margin-top: 9%;
    }
    p {
      color: white;
    }
    h1 {
      margin-top: 20%;
      color: #fff;
    }
  }

  .reasons {
    .flex-cont {
      margin: 10% 0 10% 0;
    }
    background: white;
    .reasons-header{
      p {
        margin-top: 6%;
        margin-bottom: 8%;
        font-size: 125%;
        color: #00415d;
      }
    }
    .reason-item {
      margin-left: 0px;
      padding-top: 186px;
      background-repeat: no-repeat;
      background-position: center top;
      margin-bottom: 15%;
      &#first-reason {
        background-image: image-url('circle-placeholder.png');
      }
      &#second-reason {
        background-image: image-url('circle-placeholder.png');
      }
      &#third-reason {
        background-image: image-url('circle-placeholder.png');
      }
    }
    .list-title {
      p{
        margin: 0, 16%, 12%, 16%;
        font-size: 1em;
        line-height: 1.4;
        font-weight: 400;
      }
    }
    ul {
      font-size: 0.85em;
      margin-left: 15%;
      margin-right: 10%;
      li {
        margin-bottom: 1.1%;
      }
    }
    .reason-logo {
      height: 150px;
      width: 150px;
      border: 1px solid #006eb6;
      border-radius: 50%;
      margin-bottom: 9%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .companies {
    padding: 1% 1%;
    background: #efefef;
    .container {
      margin-bottom: 10%;
    }
    .companies-header {
      p{
        margin: 12% 2% 8% 2%;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-size: 6px;
        color:  #8C8C8C;
      }
    }
    .company-logo {
      background-position: 50% 0;
      background-repeat: no-repeat;
      height: 73px;
      margin-bottom: 8%;
    }
    .cnn {
      background-image: image-url('customers/cnn.svg');
      height: 46px;
      width: auto;
    }
    .starbucks {
      background-image: image-url('customers/starbucks.svg');
      height: 55px;
      width: auto;
    }
    .microsoft {
      background-image: image-url('customers/microsoft.svg');
      margin-top: 6%;
      height: 46px;
      width: auto;
    }
    .salesforce {
      background-image: image-url('customers/salesforce.svg');
      height: 52px;
      width: auto;
    }
    .guardian {
      background-image: image-url('customers/guardian.svg');
      margin-top: 8%;
      height: 35px;
      width: auto;
    }
  }
  @media only screen and (min-width: $tablet-min-width){
    #touch-cta,
    .mobile-container {width: 65%;}
    #cta {
      min-height: 700px;
      height: 245px;
      background-position: 100% 63%;
      h1 {
        font-size: 2.5em;
        margin-top: 5%;
      }
    }
    .companies {
      .companies-header {
        p {
          margin-top: 6%;
          text-size: 14px;
        }
      }
      .company-logo {
        @include column;
        @include columns(2.6);
        margin: 0 0 20px 0;
      }
    }
    .reasons {
      .flex-cont {
        display: flex;
      }
      .reasons-header {
        margin: 6% 13% 6% 13%;
      }
      .list-title {
        margin: 0 9% 2% 9%;
      }
      .reason-logo,
      .reason-item {
        margin-bottom: 5%;
        width: 33.333%;
      }
      ul {
        font-size: 0.85em;
        li {
          margin-bottom: 1.1%;
        }
      }
    }
  }
  @media only screen and (min-width: $desktop-min-width){
    height: 100%;
    text-align: center;
    #outer-wrapper, #inner-wrapper, #cta {
      position: relative;
      height: 100%;
      margin: auto;
    }
    header {
      @extend .vertical-center-header;
    }
    #cta {
      background-position: 50% 60%;
      min-height: 700px;
      height: 245px;
      overflow: hidden;
      .container {
        position: relative;
        z-index: 2;
        top: 50%;
        transform: translateY(-75%);
      }
      h1 {
        margin-top: 45%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 3.2em;
        font-weight: 300;
      }
    }
    .reasons {
      .reason-logo {
        margin-bottom: 18%;
      }
      .list-title {
        margin: 0 16% 15% 16%;
      }
      ul {
        margin-left: auto;
        margin-right: auto;
        li { margin-left: 10% }
      }
    }
    .companies {
      .cnn {
        height: 63px;
      }
    }
  }
}
