body.home-page {
  .opticon-ad { display: none; }
  #signed-in-mobile {
    display: none;
    margin: 1em 0 8em 0;
  }
  &.signed-in {
    #signed-in-mobile {
      display: block;
    }
    #touch-cta {
      display: none;
    }
  }
  .mobile-container {margin: auto;}
  #cta {
    height: 245px;
    min-height: 500px;
    overflow: hidden;
    background: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage/homepagegraph.svg') no-repeat 100% 150%,
                radial-gradient(circle, rgb(10,82,112), rgb(8, 77, 106), rgb(0,65,93) 50%);
    .container {
      position: relative;
      z-index: 1;
      top: 50%;
      transform: translateY(-75%);
    }
    #get-started {
      margin: 10% auto 0 auto;
      width: 80%;
      input {
        $inputs: email 13px 33px;
        @include anim-input-icons($inputs);
        @extend .rounded-input;
        margin-right: 0.3%;
      }
    }
    button[type=submit] {
      @extend .new-primary-button;
      width: 100%;
      margin-top: 20px;
    }
    p {
      color: white;
      font-weight: 100;
      font-size: 1.25em;
    }
    h1 {
      margin-top: 20%;
      color: #fff;
    }
  }

  .reasons {
    .flex-cont {
      margin: 10% 0 3% 0;
    }
    background: white;
    .reasons-header{
      margin-top: 6%;
      margin-bottom: 8%;
      p {
        font-size: 1.5em;
        font-weight: 500;
        color: $brand-navy-blue;
      }
    }
    .reason-item {
      margin-left: 0px;
      padding-top: 186px;
      background-repeat: no-repeat;
      background-position: center top;
      margin-bottom: 15%;
      background-size: 160px;
      ul {
        margin-left: 15%;
        margin-right: 10%;
        li {
          font-size: 0.9375em;
          font-weight: 100;
          color: #646464;
          margin-bottom: 1.1%;
        }
      }
      &#first-reason {
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage/info_box_1.svg');
      }
      &#second-reason {
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage/info_box_2.svg');
      }
      &#third-reason {
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage/info_box_3.svg');
      }
    }
    .list-title {
      p {
        margin: 0, 16%, 12%, 16%;
        font-size: 1.125em;
        font-weight: 500;
        color: #5F5F5F;
        line-height: 1.4;
      }
    }
    .reason-logo {
      height: 150px;
      width: 150px;
      border: 1px solid $brand-blue;
      border-radius: 50%;
      margin-bottom: 9%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (min-width: $tablet-min-width){
  html.cssanimations body.home-page {
    .fade-in {
      opacity:0;
      animation: fadeIn ease 1;
      animation-fill-mode: forwards;
      animation-duration: .6s;
    }
    .cta-wrap {
      //-webkit-animation-delay: 0.7s;
      //-moz-animation-delay: 0.7s;
      animation-delay: 0.5s;
    }
  }
}

@media only screen and (min-width: $tablet-min-width){
  body.home-page {
    #touch-cta,
    .mobile-container {width: 65%;}
    #cta {
      min-height: 700px;
      height: 245px;
      background-position: 100% 63%;
      h1 {
        font-size: 2.5em;
        margin-top: 5%;
      }
      #get-started {
      input {
        width: 280px;
        }
        button {
          width: auto;
          margin: 0;
        }
      }
    }
    .reasons {
      .flex-cont {
        display: flex;
      }
      .reasons-header {
        margin: 6% 4% 6% 4%;
      }
      .list-title {
        margin: 0 9% 2% 9%;
      }
      .reason-logo,
      .reason-item {
        margin-bottom: 5%;
        width: 33.333%;
      }
      ul {
        font-size: 0.85em;
        li {
          margin-bottom: 1.1%;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.home-page {
    .opticon-ad {
      display: block;
      height: 50px;
      width: 100%;
      background-color: white;
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon_homepage_ad.png');
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 100px;
      z-index: 2;
    }
    text-align: center;
    #outer-wrapper, #inner-wrapper, #cta {
      position: relative;
      height: 100%;
      margin: auto;
    }
    header {
      @extend .vertical-center-header;
    }
    #cta {
      background-position: 50% 80%;
      background-size: contain;
      height: 70vh;
      min-height: 500px;
      overflow: hidden;
      .container {
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-75%);
      }
      h1 {
        margin-top: 60%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 3.2em;
        font-weight: 300;
      }
    }
    .reasons {
      .reason-logo {
        margin-bottom: 18%;
      }
      .reasons-header {
        margin: 7% 8% 6% 8%;
      }
      .flex-cont {
        margin-top: 3%;
      }
      ul {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
      }
    }
  }
}
