body.homepage{
  #top-nav-cont {
    background: #00415d;
  }
  #main-nav-cont {
    background: #00415d;
  }
  footer {
    background: #0081ba;
  }
  #signed-in-mobile {
    display: none;
    margin: 1em 0 8em 0;
  }
  &.signed-in {
    #signed-in-mobile {
      display: block;
    }
    #touch-cta {
      display: none;
    }
  }
  .mobile-container {margin: auto;}
  #cta {
    height: 245px;
    min-height: 500px;
    overflow: hidden;
    background: image-url('homepage_graph.svg') no-repeat 100% 150%,
                radial-gradient(circle, rgb(10,82,112), rgb(8, 77, 106), rgb(0,65,93) 50%);
    .container {
      position: relative;
      z-index: 2;
      top: 50%;
      transform: translateY(-75%);
    }
    #get-started {
      margin-top: 10%;
      input {
        $inputs: email 11px 30px;
        @include anim-input-icons($inputs);
        border: none;
        background-image:  url('https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/mobile-mvpp/email-grey.svg');
        background-repeat: no-repeat;
        background-position: 14px center;
        text-indent: 45px;
        width: 280px;
        height: 45px;
        border-radius: 4.5px;
        margin-right: 0.3%;
      }
    }
    button[type=submit] {
      @extend .primary-button;
      background: #8EB349;
      display: inline-block;
      height: 45px;
      border-radius: 4.5px;
    }
    p {
      color: white;
      font-weight: 100;
      font-size: 1.25em;
    }
    h1 {
      margin-top: 20%;
      color: #fff;
    }
  }

  .reasons {
    .flex-cont {
      margin: 10% 0 10% 0;
    }
    background: white;
    .reasons-header{
      margin-top: 6%;
      margin-bottom: 8%;
      p {
        font-size: 1.5em;
        font-weight: 500;
        color: #00415d;
      }
    }
    .reason-item {
      margin-left: 0px;
      padding-top: 186px;
      background-repeat: no-repeat;
      background-position: center top;
      margin-bottom: 15%;
      ul {
        margin-left: 15%;
        margin-right: 10%;
        li {
          font-size: 0.9375em;
          font-weight: 100;
          color: #646464;
          margin-bottom: 1.1%;
        }
      }
      &#first-reason {
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage_box_1.png');
      }
      &#second-reason {
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage_box_2.png');
      }
      &#third-reason {
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage_box_3.png');
      }
    }
    .list-title {
      p {
        margin: 0, 16%, 12%, 16%;
        font-size: 1.125em;
        font-weight: 500;
        color: #5F5F5F;
        line-height: 1.4;
      }
    }
    .reason-logo {
      height: 150px;
      width: 150px;
      border: 1px solid #006eb6;
      border-radius: 50%;
      margin-bottom: 9%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .companies {
    padding: 1% 1%;
    background: #efefef;
    .container {
      margin-bottom: 10%;
    }
    .companies-header {
      p {
        margin: 12% 2% 8% 2%;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        color:  #8C8C8C;
      }
    }
    .logo-container {
      img {
        max-width: 175px;
        margin-bottom: 15px;
        display: block;
        margin: 0 auto 25px auto;
      }
    }
  }
  @media only screen and (min-width: $tablet-min-width){
    #touch-cta,
    .mobile-container {width: 65%;}
    #cta {
      min-height: 700px;
      height: 245px;
      background-position: 100% 63%;
      h1 {
        font-size: 2.5em;
        margin-top: 5%;
      }
    }
    .companies {
      .companies-header {
        p {
          margin-top: 6%;
          font-size: 14px;
        }
      }
      .logo-container {
        display: flex;
        justify-content: center;
        img {
          max-width: 140px;
          max-height: 70px;
          vertical-align: baseline;
          padding-right: 15px
        }
      }
    }
    .reasons {
      .flex-cont {
        display: flex;
      }
      .reasons-header {
        margin: 6% 4% 6% 4%;
      }
      .list-title {
        margin: 0 9% 2% 9%;
      }
      .reason-logo,
      .reason-item {
        margin-bottom: 5%;
        width: 33.333%;
      }
      ul {
        font-size: 0.85em;
        li {
          margin-bottom: 1.1%;
        }
      }
    }
  }
  @media only screen and (min-width: $desktop-min-width){
    text-align: center;
    #outer-wrapper, #inner-wrapper, #cta {
      position: relative;
      height: 100%;
      margin: auto;
    }
    header {
      @extend .vertical-center-header;
    }
    #cta {
      background-position: 50% 80%;
      background-size: contain;
      height: 70vh;
      min-height: 450px;
      overflow: hidden;
      .container {
        position: relative;
        z-index: 2;
        top: 50%;
        transform: translateY(-75%);
      }
      h1 {
        margin-top: 45%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 3.2em;
        font-weight: 300;
      }
    }
    .reasons {
      .reason-logo {
        margin-bottom: 18%;
      }
      .reasons-header {
        margin: 5% 8% 6% 8%;
      }
      .flex-cont {
        margin-top: 3%;
      }
      ul {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
      }
    }
    .companies {
      height: 300px;
      .companies-header {
        p {
          margin: 4% 2% 4% 2%;
        }
      }
      .logo-container {
        img {
          width: 20%
        }
      }
    }
  }
}
