body.opticon-agenda {
  .row {
    padding: 50px 0;
  }
  .agenda-day {
    display: inline;
    margin-right: 50px;
    color: #ccc;
    line-height: 38px;
    font-size: 1.25em;
    &--active {
      color: #0081BA;
      text-decoration: underline;
    }
  }
  .pill--opticon {
    float: right;
    border-radius: 0;
    & > * {
      padding: 9px 15px;
    }
    & > *:first-child,
        *:last-child  {
          border-radius: 0;
        }
  }
  .dropdown-cont ul li {
    &:before {
      border-radius: 0;
      height: 9px;
      width: 9px;
    }
    &.selected {
      &:before {
        background: $opticon-brand-blue;
      }
    }
  }
  .time-slot {
    display: flex;
    margin: 50px 0;
    max-width: 83%;
    &__time {
      min-width: 100px;
      margin: 0;
    }
  }
  .time-slot__content .event-cont:not(:first-child) {
    // Top titles should be horizontally even with times
    // but we want spacing between talks
    margin: 50px 0 15px 0;
  }
  .event-cont {
    position: relative;
  }
  .expansion-arrow {
    position: absolute;
    right: -80px;
    top: 3px;
    color: $opticon-brand-blue;
    transition: transform 5ms ease-in;
    cursor: pointer;
    &--open {
      transform: rotate(90deg);
    }
  }
  .event-title {
    font-size: 20px;
    color: #444B4F;
    line-height: 30px;
    margin: 0;
    &--choice {
      cursor: pointer;
    }
    &--everyone {
      color: #AAAAAA;
    }
  }
  .event-text {
    font-size: .8125em;
    color: #444B4F;
    letter-spacing: 0.4px;
    line-height: 24px;
  }
  .speaker-cont {
    &__speaker {
      margin: 0;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-agenda {
  }
}

 @media only screen and (min-width: $desktop-min-width) {
  body.opticon-agenda {
  }
 }
