body.opticon-agenda {
  .agenda-container {
    align-items: flex-start;
  }
  .agenda-day {
    border: solid 1px #ddd;
    flex: 1;
    &:first-of-type {
      margin-right: 50px;
    }
  }
  .agenda-row {
    border-top: solid 1px #ddd;
    display: flex;
  }
  .agenda-time {
    min-width: 186px;
    padding-left: 25px;
    font-family: AdelleSans-Regular;
    font-size: 14px;
    color: #444B4F;
    letter-spacing: 1px;
    span {
      font-size: 0.6875em;
    }
  }
  .agenda-event {
    font-family: AdelleSans-Regular;
    font-size: 14px;
    color: #444B4F;
    letter-spacing: 1px;
    font-size: 16px;
    color: #444B4F;
    letter-spacing: 0.47px;
  }
  .description-title {
    padding-left: 25px;
  }
  .content-container {
    padding: 50px 0;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-agenda {

  }
}

 @media only screen and (min-width: $desktop-min-width) {
  body.opticon-agenda {

  }
 }
