body.opticon {
  #outer-wrapper {
    background-color: white;
  }
  p {
    line-height: 2em;
  }
  .section-title {
    font-family: $condensed-sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    font-size: 3em;
  }
  .welcome-container {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    height: 450px;
    * {
      text-align: center;
    }
    .title {
      margin: 0;
      padding-top: 150px;
      font-size: 5em;
      letter-spacing: 2px;
    }
    .event-details {
      padding-bottom: 120px;
      text-transform: uppercase;
      color: white;
      margin-top: 7px;
      font-size: 0.9em;
    }
  }

  .description-panel {
    .section-title {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
      color: $brand-blue;
    }
    .description {
      margin-left: auto;
      margin-right: auto;
      color: $light-text-color;
      width: 550px;
    }
    .flex-container {
      display: flex;
    }
    .pier {
      display: none;
      width: 300px;
      height: 170px;
      background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/pier.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 25% 25%;
      margin-top: 8px;
    }
  }

  .call-for-speakers-panel {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/call-for-speakers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    * {
      text-align: center;
    }
    .section-title {
      padding-top: 100px;
      margin-bottom: 50px;
    }
    .blurb {
      color: $super-dark-blue;
      margin-bottom: 50px;
    }
    .button-container {
      text-align: center;
      padding-bottom: 100px;
      a {
        padding: 10px 59px;
        background-color: $super-dark-blue;
        color: white;
        border-radius: 4px;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          background-color: #005377;
        }
      }
    }
  }

  .register-panel {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/call_for_sponsors.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    .section-title {
      padding-top: 100px;
      text-align: center;
      margin-bottom: 50px;
      color: white;
    }
    .blurb {
      color: white;
    }
    .eventbrite-mobile img{
      margin-bottom: 50px;
    }
    .eventbrite-desktop {
      display: none;
    }
  }

  .call-for-sponsors-panel {
    .section-title {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      color: $brand-blue;
    }
    .blurb {
      max-width: 640px;
      margin-bottom: 50px;
      text-align: center;
      color: $brand-blue;
      color: $super-dark-blue;
    }
    .button-container {
      text-align: center;
      padding-bottom: 50px;
      a {
        padding: 10px 59px;
        background-color: $brand-blue;
        color: white;
        border-radius: 4px;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          background-color: #0F8EC7;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body.opticon {
    .section-title {
      font-size: 3.8em;
      letter-spacing: 2px;
    }
    .welcome-container {
      .title {
        font-size: 6.25em;
      }
      .event-details {
        font-size: 1.15em;
      }
    }
    .description-panel {
      .blurb {
        margin: 0 50px 90px 0;
      }
      .pier {
        display: block;
      }
    }
    .register-panel {
      .flex-container {
        display: flex;
      }
      .blurb {
        width: 280px;
        margin-right: 50px;
      }
      .eventbrite-mobile {
        display: none;
      }
      .eventbrite-desktop {
        display: block;
        width: 100%;
        max-width: 600px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 75px;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon {
  }
}
