body.opticon-opties {
  .message-container {
    margin: 10vh auto;
    background-color: white;
    padding: 15px 0;
    border: 2px solid gray;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 1.2em;
      margin: 70px;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-opties {
    .message-container {
      margin: 25vh auto;
      width: 80%;
    }
  }
}
