body.opticon-2014 {
  .copy-half { padding: 0 5px; }
  .video-image-half {
    display: block;
    width: 90%;
    padding-top: 66%;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .gallery {
    &__image-cont {
      flex-wrap: wrap;
      &__item {
        margin: 10px auto;
        width: 250px;
        padding-top: 167px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
      }
    }
    &__iframe-cont {
      display: block;
      margin: 30px auto;
      position: relative;
      padding-top: 42%;
      width: 80%;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .quote .item-source { font-style: normal; }
  #video-modal {
    &.modal-dialog-container {
      background: transparent;
      background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.498039));
    }
    .dialog {
      margin: 0;
      width: 80%;
      height: auto;
      padding: 0;
      background: transparent;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: #000;
    }
    .modal-header { display: none; }
    .modal-body {
      width: 100%;
      padding-top: 56%;
      position: relative;
    }
    .modal-footer { display: none; }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .fallback-player {
      display: none;
      &.show-fallback {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-2014 {
    .copy-half {
      width: 50%;
      padding-right: 50px;
    }
    .video-image-half {
      width: 50%;
      padding-top: 33%;
    }
    .gallery__image-cont__item {
      width: 25%;
      padding: 150px 5px 0;
    }
    .gallery {
      padding: 90px 0;
      &__iframe-cont {
        display: inline-block;
        padding-top: 29%;
        width: 48%;
        margin: 5px;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon-2014 {
    .quote .item-source {
      float: right;
      margin-right: 116px;
    }
  }
}
