body.opticon-opties-success {
  .description-text { padding: 5px; }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-opties-success{
    .confetti-container .confetti-right {
      display: none;
    }
    .page-content .description-text {
      padding: 25px;
      text-align: center;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon-opties-success {
    .page-content .description-text {
      width: 75%;
      padding: 40px 0 300px 0;
      text-align: left;
    }
    .confetti-container .confetti-right {
      display: block;
    }
  }
}
