body.opticon-agenda {
  .agenda-container {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .subtitle {
    margin-bottom: 75px;
  }
  .agenda-day {
    border: solid 1px #ddd;
    background: #fff;
    z-index: 1;
    min-width: 200px;
    width: 100%;
    &:last-of-type {
      margin-top: 50px;
    }
  }
  .agenda-row {
    border-top: solid 1px #ddd;
    display: flex;
  }
  .agenda-time {
    min-width: 186px;
    padding: 5px 0 0 25px;
    font-family: AdelleSans-Regular;
    font-size: 0.875em;
    color: $almost-black-text-color;
    letter-spacing: 1px;
    span {
      font-size: 0.6875em;
    }
  }
  .agenda-event {
    font-family: AdelleSans-Regular;
    font-size: 0.875em;
    color: $almost-black-text-color;
    letter-spacing: 1px;
    font-size: 1em;
    color: $almost-black-text-color;
    letter-spacing: 0.47px;
  }
  .description-title {
    padding-left: 25px;
  }
  .content-container {
    padding: 50px 0;
  }
  .confetti-right {
    right: -173px;
    z-index: -1;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-agenda {
    .agenda-day {
      flex: 1;
      margin: 0;
      &:first-of-type {
        margin-right: 50px;
      }
      &:last-of-type {
        margin-top: 0;
      }
    }
  }
}

 @media only screen and (min-width: $desktop-min-width) {
  body.opticon-agenda {

  }
 }
