body.opticon-speakers {
  #outer-wrapper {
    background-color: white;
  }
  .opticon-logo {
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 215px;
  }
  .nav-options {
    list-style: none;
    float: right;
    li {
      display: inline;
      font-size: 0.9375em;
      color: #888;
      margin-right: 10px;
    }
  }
  .title-container {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/speakers_header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -60px;
    padding-top: 100px;
    padding-bottom: 100px;

    * {
      text-align: center;
      color: white;
    }
    .tagline {
      font-size: 5em;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
  }

  .details {
    .details-header {
      text-align: center;
      margin: 100px auto 20px auto;
      max-width: 663px;
      font-size: 36px;
      font-weight: 100;
      line-height: 48px;
      color: #0081ba;
    }
    .details-description {
      text-align: center;
      max-width: 655px;
      margin: 20px auto 50px auto;
      font-size: 18px;
      font-weight: 100;
      line-height: 27px;
      color: #888;
    }
    .tracks {
      display: flex;
      margin-top: 100px;
      margin-bottom: 100px;
      .track-item {
        text-align: left;
        width: 200px;
        height: 150px;
        font-size: 14px;
        line-height: 20px;
        margin: auto;
        color: #888;
        .track-title {
          text-transform: uppercase;
          color: #0081ba;
        }
      }
    }
  }

  .apply {
    background-size: cover;
    background-color: #a2cbe1;
    background-repeat: no-repeat;
    background-position: center -60px;
    padding-top: 100px;
    padding-bottom: 200px;
    .apply-header {
      font-size: 2.25em;
      text-transform: uppercase;
      color: #00415d;
      text-align: center;
      margin-bottom: 20px;
    }
    .apply-subheader {
      margin-top: 20px;
      margin-bottom: 80px;
      text-align: center;
    }
    .flex-container {
      display: flex;
      margin-bottom: 40px;
    }
    label {
      font-weight: 500;
      color: #00415d;
    }
    .big-text-area {
      text-align: center;
      margin-bottom: 50px;
      label {
        display: block;
      }
      textarea {
        resize: none;
        border-radius: 5px;
        border: 1px #CCC;
        width: 550px;
        height: 200px;
      }
    }
    select,
    input {
      width: 300px;
      height: 42px;
      border-radius: 5px;
      border: 1px #CCC;
      display: block;
      margin-bottom: 25px;
    }
    .button-container {
      text-align: center;
      .next {
        padding: 10px 59px;
        background-color: #00415d;
        color: white;
        border-radius: 4px;
      }
    }
    .submit-button {
      @extend .new-primary-button;
      background-color: #00415d;
      box-shadow: 1px 1px 2px 0px #00415d;
      &:hover {
        box-shadow: 2px 2px 2px 0px #00415d;
      }
    }
    .form-success {
      text-align: center;
      margin-top: 100px;
    }
    .options {
      text-align: center;
    }
    span.error-hide {
      display: none
    }
  }
}
