body.opticon {
  #page-content {
    background-color: white;
  }
  .opticon-logo {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon_logo.svg');
    background-size: 600px 188px;
    background-repeat: no-repeat;
    width: 600px;
    height: 188px;
    margin: 35px auto 35px auto;
  }
  .welcome-container {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    * {
      text-align: center;
    }
    .title {
      margin: 0;
      padding-top: 150px;
      font-size: 3.5em;
      text-transform: uppercase;
      color: white;
    }
    .event-details {
      padding-bottom: 120px;
      text-transform: uppercase;
      color: white;
      margin-top: 7px;
    }
  }
  .description-panel {
    .tagline {
      text-align: center;
      text-transform: uppercase;
      margin-top: 100px;
      margin-bottom: 50px;
      color: #0081ba;
    }
    .description {
      margin-bottom: 90px;
      color: #888;
    }
  }

  .call-for-speakers-panel {
    background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/call-for-speakers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    * {
      text-align: center;
    }
    .title {
      padding-top: 100px;
      margin-bottom: 50px;
      color: white;
      text-transform: uppercase;
    }
    .body {
      color: #00415d;
      margin-bottom: 50px;
    }
    .button-container {
      text-align: center;
      padding-bottom: 100px;
      a {
        padding: 10px 59px;
        background-color: #00415d;
        color: white;
        border-radius: 4px;
      }
    }
  }

  .call-for-sponsors-panel {
    .title {
      padding-top: 100px;
      margin-bottom: 50px;
      color: #0081ba;
      text-transform: uppercase;
      text-align: center;
    }
    .body {
      color: #888;
      margin-bottom: 50px;
      text-align: left;
    }
    .button-container {
      text-align: center;
      padding-bottom: 100px;
      a {
        padding: 10px 59px;
        background-color: #0081ba;
        color: white;
        border-radius: 4px;
      }
    }
  }
}
