body.opticon-homepage {
  .title-section {
    padding: 100px 0 0 0;
  }
  .page-title {
    font-size: 2.6em;
    background: $opticon-brand-blue;
    padding: 15px 20px 0px 20px;
    margin: 0;
  }
  .event-details {
    margin: 15px 0;
    font-weight: 100;
    font-size: 1.25em;
    color: $almost-black-text-color;
    letter-spacing: 0.41px;
  }
  .speaker-container {
    padding: 200px 2% 0 2%;
    margin: 30px 0 40px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .speaker-blurb {
    text-align: left;
  }
  .subtitle {
    text-align: center;
  }
  .description-title {
    padding: 0 2%;
  }
  .description {
    padding: 5% 13%;
    .description-title {
      padding: 0;
    }
  }
  .tracks {
    padding: 50px 0 80px 0;
  }
  .track-container {
    padding: 90px 10px 30px 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 30px;
  }
  .platform { background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/developer-icon.svg'); }
  .strategy { background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/strategy-icon.svg'); }
  .culture { background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/culture-icon.svg'); }
  .action { background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/action-icon.svg'); }
  .confetti-left {
    left: 0;
    top: 7em;
  }
  .confetti-right {
    top: 12em;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-homepage {
    .speaker-container { width: 33%; }
    .description-title { padding: 0 18%; }
    .track-container {
      width: 25%;
      padding: 115px 10px 10px 10px;
    }
    .copy-container {
      text-align: right;
      padding: 0 5%;
      h1,
      h4 { text-align: right; }
    }
    .page-title { font-size: 4em; }
    .confetti-container .confetti-right {
      display: none;
    }
  }
}


@media only screen and (min-width: $desktop-min-width) {
  body.opticon-homepage {
    .description {
      padding: 5% 0;
      width: 600px;
    }
    .track-container { padding: 115px 10px 30px; }
    .confetti-container .confetti-right {
      display: block;
    }
  }
}
