body.opticon-opties-success {
  .description-text {
    padding: 5px;
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-opties-success{
    .confetti-container .confetti-right {
      display: none;
    }
    .description-text {
      padding: 25px;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon-opties-success {
    .description-text {
      width: 75%;
      padding: 0 0 300px 0;
    }
    .confetti-container .confetti-right {
      display: block;
    }
  }
}
