body.opticon-sponsors {
  .sponsor-level {
    margin: 100px 0;
    &__image-cont {
      display: flex;
      flex-wrap: wrap;
      &__image {
        width: 100%;
        padding-top: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin: 20px;
      }
    }
  }
  hr { border-top: 2px solid $dark-gray-color; }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-sponsors {
    .description-title {
      width: 630px;
      margin: 30px auto;
    }
    .sponsor-level__image-cont {
      &__image {
        margin: 20px auto;
        &--platinum {
          width: 75%;
          padding-top: 210px;
        }
        &--gold {
          width: 43%;
          padding-top: 140px;
        }
        &--silver {
          width: 21%;
          padding-top: 150px;
        }
        &--bronze {
          width: 26%;
          padding-top: 130px;
        }
        &:hover { cursor: pointer; }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon-sponsors {
    .description-title { margin: 30px 0; }
  }
}
