body.opticon-confirmation {
  #outer-wrapper {
    background-color: $light-blue-bg;
  }
  .message-container {
    margin: 10vh auto;
    background-color: white;
    padding: 15px 0px;
    border: 2px solid gray;
    p {
      text-align: center;
      font-size: 1.2em;
      margin: 70px;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-confirmation {
    .message-container {
      margin: 20vh auto;
      width: 500px;
    }
  }
}

 @media only screen and (min-width: $desktop-min-width) {
  body.opticon-confirmation {
  }
 }
