// /partners/become and child pages

.partners-become { //body

  font-family: $body-font-family; //proxima

  .panel {
    padding: 60px 0;
  }

  .panel-header {
    text-align: center;
    font-size: 24px;
    padding: 0 20px;
  }

  background-color: $page-content-color;

  .flex-container {
    display: block; // Only for mobile
    flex-wrap: wrap;
  }

  .faq-container {
    padding: 10px;
  }

  .primary-cta {
    // maintain a button max-height 40px
    border-radius: 4px;
    background: $brand-blue;
    border: 1px solid $super-dark-blue;
    padding: 20px 60px;
    font-family: $gotham-small-type;
    font-size: 18px;
    color: $white;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;

    &:hover {
      text-decoration: none;
      background: $blue;
      color: $white;
    }
  }

  #landing-hero {
    position: relative;
    padding: 95px 0;
    background-color: $super-dark-blue;
    color: $page-content-color;

    h1,
    h2 {
      text-align: center;
    }

    h1 {
      font-weight: lighter;
      font-size: 54px;
      margin-bottom: 60px;
    }

    h2 {
      font-weight: bold;
      font-size: 22px;
    }

    .primary-cta {
      position: absolute;
      bottom: -30px;
      left: calc(50% - 112px);
    }
  }

  #landing-intro {
    .blurb,
    .description-text {
      font-size: 18px;
    }

    .description-title {
      font-size: 32px;
      font-weight: 500;
    }

  }

  .left-paragraph,
  .right-paragraph {
    padding: 4% 0;
    .description-title {
      min-height: 86px;
    }
    .description-text {
      min-height: 153px;
    }
  }

  #technology-why,
  #solutions-why,
  #technology-hear,
  .panel.become-a-partner {
    background-color: $white;
  }

  #technology-hear+.panel.become-a-partner {
    background-color: $partners-become-gray;
  }

  #technology-why,
  #solutions-why {
    .blurb {
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }

  .why-items {

    .panel-header {
      margin: 10px 0 60px;
    }

    .image { //background image inside gray circle
      width: 94px;
      height: 62px;
      background-repeat: no-repeat;
      margin: 0 auto 30px;
      background-color: $partners-become-gray;
      background-position: center;
      border-radius: 50%;
      background-size: 75%;
      padding: 50px;
    }

    .trophy {
      background-image: image-url('/partners-become/icon-trophy.svg');
    }

    .magnifying {
      background-image: image-url('/partners-become/icon-magnifying.svg');
    }
    .browsers {
      background-image: image-url('/partners-become/icon-browsers.svg');
    }
    .mouseclick {
      background-image: image-url('/partners-become/icon-mouseclick.svg');
    }

    .track-container {
      padding: 0 20px 30px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: top center;

      .item-title {
        font-weight: 400;
        font-size: 20px;
        text-align: left;
      }

      .detail-text {
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .bg-img {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .vidyard_iframe {
    width: 100%;
    height: auto;
    min-height: 250px;
  }

  .become-a-partner {

    .panel-header {
      margin-bottom: 40px;
    }

    .primary-cta {
      display: table;
      margin: 0 auto;

    }

    .blurb {
      margin-top: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}

.benefits {

  .panel-header {
    margin: 0 0 20px;
  }

  .split-cols {
    margin-bottom: 80px;

    img {
      max-width: 75%; //images not too big
    }

    >div {
      padding: 20px 10px;
    }

    .description-title {
      font-size: 24px;
    }

    .description-text {
      font-size: 18px;
    }
  }
}

#technology-hear {

  .panel-header {
    margin-bottom: 70px;
  }

  .right-paragraph {
    p {
      text-align: left;
      font-size: 16px;
    }
  }

}

@media only screen and (min-width: $tablet-min-width) {
  body.partners-become {

    .panel-header {
      font-size: 36px;
    }

    //simple float based two column layout
    .split-cols {
      >div {
        width: 48%;
      }
      >div:first-child {
        float: left;
      }

      >div:last-child {
        float: right;
      }
    }

    #technology-why,
    #solutions-why {
      .blurb {
        width: 62.5%;
        margin: 0 auto 70px;
      }
    }

    .page-content.landing {
      width: 62.5%;
    }

    .flex-container {
      display: flex;
    }

    .left-paragraph,
    .right-paragraph {
      padding: 10px 30px 10px 0;
      width: 50%;
    }

    .track-container {
      width: 25%;
      padding: 115px 10px 10px;
    }

    .vidyard_iframe {
      min-height: 300px;
    }

    .benefits {

      .panel-header {
        margin-bottom: 80px;
      }

      .split-cols {

        img {
          max-width: 100%;
        }

        &:nth-child(odd) {
          >div:first-child {
            float: right;
            padding-right: 30px;
            padding-left: 30px;
          }
          >div:last-child {
            float: left;
            padding-left: 30px;
            padding-right: 30px;
          }
        }

        //in tablet and up, alternate the image and text
        &:nth-child(even) {
          >div:first-child {
            float: right;
            padding-left: 30px;

          }
          >div:last-child {
            float: left;
            padding-right: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.partners-become {

    .track-container {
      padding: 115px 10px 30px;
    }
  }
}
