body.pricing {
  #page-content {
    background-color: white;
  }
  /*           */
  /*PAGE HEADER*/
  /*           */
  #page-header {
    h1 {
      font: 1.5em $body-font-family;
      color: $brand-navy-blue;
      margin-top: 6px;
    }
    p {
      display: inline;
      &:first-of-type {
        margin-right: 15px;
      }
    }
    br {
      display: block;
    }
    .header-cta-container {
      display: none;
      font-family: $body-font-family;
      float: right;
      margin-bottom: 10px;
      > * {
        display: block;
        float: left;
      }
      p {
        margin-top: 0;
      }
      > a {
        margin-top: 5px;
      }
      p:first-of-type {
        margin-top: 10px;
      }
      span {
        display: block;
      }
    }
    .talk-button {
      @extend .pricing-button;
      padding: 12px 50px;
      margin-top: 15px;
      margin-right: 15px;
      background-image: linear-gradient(-180deg, #EEEFF3 0%, #E0E1E5 100%);
      border: 1px solid #D4D5D9;
      border-radius: 2px;
      font: 12px $body-font-family;
      color: $almost-black-text-color;
      line-height: 12px;
      &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
        background: #eee;
        border-color: #b8b8b8;
      }
    }
  }

  /*             */
  /*TITLE SECTION*/
  /*             */
  .title-section {
    background: #F3F6F8;
    border: 1px solid #E6E6E6;
    text-align: center;
    .title-copy {
      font: 2.1875em $body-font-family;
      font-weight: 300;
      text-align: center;
      color: $brand-navy-blue;
      line-height: 61px;
      margin-bottom: 57px;
      margin-top: 60px;
    }
    .buttons-container {
      margin-bottom: 67px;
    }
    .explore {
      @extend .pricing-button;
      background-image: linear-gradient(-180deg, $brand-blue-hover 3%, $brand-blue 100%);
      border: 2px solid $brand-blue-border;
      padding: 15px 31px;
      margin-right: 15px;
      box-shadow: none;
      font: $body-font-family;
      color: white;
      span {
        padding: 3px 60px;
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/pricing/down_arrow.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 34px;
      }
    }
  }

  /*                */
  /*BENEFITS SECTION*/
  /*                */
  .benefits-section {
    background: white;
    .title-copy {
      text-align: center;
      padding-top: 62px;
      font: 1.875em $body-font-family;
      color: $brand-navy-blue;
      line-height: 34px;
      padding: 66px 0;
    }
    .benefit-items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 70px;
    }
    .benefit-item {
      text-align: center;
      padding-top: 99px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 122px 83px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 75px;
      h3 {
        font: 1em $body-font-family;
        font-weight: 600;
        text-align: center;
        color: $brand-navy-blue;
      }
      p {
        font-size: 15px;
        color: #888B8C;
        letter-spacing: 0.1px;
        line-height: 20px;
      }
    }
  }
}

body.pricing.plan-enterprise {
  #feature-list-get-started-now {display: none;}
  #feature-list-talk-to-us {display: none;}
  #feature-list-enterprise-cta-cont .current-plan-message {display: block;}
}

body.pricing.plan-free_light {
  #feature-list-get-started-now {display: none;}
  #feature-list-starter-cta-cont .current-plan-message {display: block;}
}

@media screen and (min-width: $tablet-min-width) {
  body.pricing {
    #page-header {
      .header-cta-container {
        display: block;
        width: 400px;
      }
    }
    .title-section {
      .title-copy {
        font-size: 3em;
      }
    }
    .benefits-section {
      .benefit-item {
        margin-bottom: 10px;
        width: 33%;
      }
    }
  }
}

@media screen and (min-width: $desktop-min-width) {
  body.pricing {
  }
}
