.pricing-section__heading {
  margin: 1.7em 0;
}
.pricing-section__heading--light {
  color: $gray-on-white-text;
}
.pricing-section__heading--dark {
  color: $super-dark-blue;
}
.pricing-section__feature-list {
  padding-bottom: 20px;
}
.pricing-section__feature-list__question {
  color: $gray-on-white-text;
  font-family: $gotham-small-type;
  font-weight: normal;
  text-align: center;
}
.plan-box-header {
  background: $faint-gray-bg;
  text-transform: uppercase;
  color: $dark-blue;
  font-size: 1.1em;
  font-weight: 500;
  font-family: $body-font-family;
  padding: 10px 0;
  border-bottom: 1px solid $faint-gray-border;
  margin: 0;
}
.plan-box-cont {
  background: $faint-gray-bg;
  border: 2px solid $faint-gray-border;
  border-radius: 4px;
  margin-bottom: 40px;
  .plan-box-content {
    background: #fff;
    min-height: 220px;
  }
  .cta {
    padding: 10px 0 20px 0;
    border-top: 1px solid $faint-gray-border;
    text-align: center;
    background: $faint-gray-bg;
    p {margin: 0;}
    h3 {
      font-size: 3em;
      line-height: .8em;
      margin: 10px 0 15px 0;
    }
    p:nth-child(3) a {
      @extend .secondary-button;
      margin: 15px 0;
    }
  }
  &.highlight {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
    border: 2px solid $blue;
    h2 {
      text-shadow: rgba(0, 0, 0, .5) 2px 2px 3px;
      background: $blue;
      color: #fff;
      border-bottom: 2px solid $blue;
    }
    .cta {
      p:nth-child(3) a {
        @extend .button;
        text-shadow: none;
      }
    }
    .feature-category {
      h3 {
        background: $blue;
        color: #fff;
        border-color: $blue;
        //font-size: ;
      }
    }
  }
  .feature-category .feature-overview {
    margin: 0;
    padding: 0 30px 0 30px!important;
  }
  h4 {
    color: $super-dark-blue;
    margin: 15px 0 15px 0;
    font-size: 1em;
    font-family: $body-font-family;
    font-weight: 400;
  }
  color: $gray-on-white-text;
  li {
    margin-bottom: 20px;
    font-size: .85em;
  }
}
#enterprise-plan .action {margin-bottom: 10px;}
body.plan-enterprise {
  #enterprise-plan {
    .current-plan {
      display: block!important;
      visibility: visible;
    }
    .action {
      display: none;
    }
  }
}
body.plan-free_light {
  #starter-plan {
    .current-plan {
      display: block!important;
      visibility: visible;
    }
    .action {
      display: none;
    }
  }
}
@media only screen and (min-width: $desktop-min-width){
  .plan-box-header {text-align: center;}
}

body.pricing {
  section.blue-bg, #page-header-gradient {
    background: $light-blue-bg;
  }
  .plan-box-content, .feature-overview {
    padding: 15px 30px 15px 30px;
  }
  .feature-category h3 {
    @extend .plan-box-header;
    font-weight: 100;
    border-top: 1px solid $faint-gray-border;
    padding: 7px 0;
    font-size: 1em;
  }
  #full-feature-list-btn {
    padding-left: 1em;
    padding-right: 1em;
  }
  #full-feature-list-btn span {
    display: block;
    background-repeat: no-repeat;
    width: 100%;
    background-position: right center;
    padding: 0 40px;
  }
  #company-list {
    h4 {
      text-align: center;
      font-size: 1.1em;
      color: $gray-on-white-text;
    }
    .logo-container {
      img {
        max-width: 175px;
        margin-bottom: 15px;
        display: block;
        margin: 0 auto 25px auto;
      }
    }
  }
  #full-feature-list-btn {
    margin: 0 auto 40px auto;
    display: table;
  }
  @media only screen and (min-width: $tablet-min-width){
    .pricing-overview {
      display: flex;
      justify-content: center;
      .plan-box-cont {
        //flex-grow: 1;
        max-width: 380px;
        margin-right: 25px;
      }
    }
    .cta {
      h3 {text-align: center;}
    }
    #company-list {
      .logo-container {
        display: flex;
        justify-content: center;
        img {
          max-width: 140px;
          max-height: 70px;
          vertical-align: baseline;
          padding-right: 15px
        }
      }
    }
  }
  @media only screen and (min-width: $desktop-min-width){
    .pricing-overview {
      display: flex;
      .columns {
        align-self: center;
      }
    }
  }
}
.pricing-faq__item {
  margin: 2em 0;

  &:last-child {
    margin-bottom: 0;
  }
}
.pricing-faq__item__title {
  color: $blue;
}
