body.pricing {
  #page-content {
    background-color: white;
  }
  /*           */
  /*PAGE HEADER*/
  /*           */
  #page-header {
    h1 {
      font: 24px $gotham-font-family;
      color: #3B5871;
      margin-top: 6px;
    }
    p {
      display: inline;
      &:first-of-type {
        margin-right: 15px;
      }
    }
    .header-cta-container {
      display: none;
      font-family: Gotham-Light;
      float: right;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .talk-button {
      @extend .pricing-button;
      padding: 12px 50px;
      margin-top: 15px;
      margin-right: 15px;
      background-image: linear-gradient(-180deg, #EEEFF3 0%, #E0E1E5 100%);
      border: 1px solid #D4D5D9;
      border-radius: 2px;
      font: 12px Gotham-Medium;
      color: #444B4F;
      line-height: 12px;
    }
  }

  /*             */
  /*TITLE SECTION*/
  /*             */
  .title-section {
    background: #F3F6F8;
    border: 1px solid #E6E6E6;
    text-align: center;
    .title-copy {
      font-family: Gotham-Light;
      text-align: center;
      font-size: 43px;
      color: $super-dark-blue;
      line-height: 61px;
      margin-bottom: 57px;
      margin-top: 60px;
    }
    .buttons-container {
      margin-bottom: 67px;
    }
    .explore {
      @extend .pricing-button;
      background-image: linear-gradient(-180deg, #0081EB 3%, #0081BA 100%);
      border: 2px solid #0063BA;
      padding: 15px 47.5px;
      margin-right: 15px;
      box-shadow: none;
      font: $gotham-font-family;
      color: white;
      span {
        display: inline;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 3px 44px;
        background-image: url('//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/down-arrow.svg');
      }
    }
  }

  /*                */
  /*BENEFITS SECTION*/
  /*                */
  .benefits-section {
    background: white;
    .title-copy {
      text-align: center;
      padding-top: 62px;
      font: 30px $gotham-font-family;
      color: $super-dark-blue;
      line-height: 34px;
      padding: 66px 0;
    }
    .benefit-items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .benefit-item {
      width: 256px;
      text-align: center;
      padding-top: 99px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 122px 83px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 75px;
      h3 {
        text-align: center;
        font: 15px $gotham-font-family;
        color: $super-dark-blue;
        letter-spacing: 0.53px;
        line-height: 21px;
      }
      p {
        font-size: 15px;
        color: #888B8C;
        letter-spacing: 0.1px;
        line-height: 20px;
      }
    }
    .asterisk {
      text-align: center;
      font-size: 12px;
      color: #979797;
      line-height: 24px;
      padding-bottom: 82px;
    }
  }
}

@media screen and (min-width: $tablet-min-width) {
  body.pricing {
    #page-header {
      .header-cta-container {
        display: inline;
      }
    }
    #page-header {
      .title-section {
        .title-copy {
          font-size: 48px;
        }
      }
    }
    .benefits-section {
      .benefit-item {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: $desktop-min-width) {
  body.pricing {
  }
}
