body.resources-page {

  #page-content {
    background: #f4f4f4;
  }

  #page-header-gradient {
    background-color: #f4f4f4;
  }

  .page-header {
    background: #FFFFFF;
    width: 100%;
  }

  .logo-cont {
    height: 79px;
  }

  .container {
    position: relative;
    &.header-cont {
      padding-top: 38%;
    }
  }

  #resources-page-title {
    @include pos-hor-vrt();
    width: 100%;
    text-align: center;
    h1,
    .sub-head {
      display: block;
      color: $brand-navy-blue;
      font-weight: 100;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .dropdown-cont ul {
    width: auto;
  }

  .empty-filter-message {
    display: none;
    &.visible {
      display: block;
    }
  }

  #page-content {
    padding-bottom: 0;
  }

  .resources-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .resources-grid-elm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: center;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    background: #FFFFFF;
    color: #818181;
    font-weight: 600;
    margin: 20px 5px;
    width: 100%;
    min-height: 282px;

    .resources-image {
      width: 100%;
      height: 12em;
      overflow: hidden;
    }

    .resources-image img {
      width: 100%;
      min-height: 192px;
    }

    .resource-type {
      margin-top: 7px;
      margin-bottom: 10px;
      color: #B9B9B9;
      font-size: 0.80em;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

    .title-container {
      border-bottom: 1px solid #D5D5D5;
      padding-left: 10px;
      padding-right: 10px;
    }

    .resources-title {
      color: $brand-navy-blue;
      font-weight: 400;
      text-align: center;
      padding-top: 10px;
      margin-right: 2%;
      margin-left: 2%;
      margin-top: 10%;
      flex-grow: 2;
    }

    .resources-logos {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 10px auto;
      height: 100px;
      width: 100%;
      max-width: 220px;
      display: block;
      padding-top: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  body.resources-page {
    .resources-grid-elm {
      width: 49%;
    }

    #resources-page-title {
      text-align: left;
      h1,
      .sub-head {
        text-align: left;
        color: $brand-navy-blue;
        margin-bottom: 0;
        margin-left: 2%;
      }
    }
    .container {
      position: relative;
      &.header-cont {
        padding-top: 12%;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.resources-page {
    .resources-grid-elm {
      width: 32%;
    }

    #resources-page-title {
      text-align: left;
      h1,
      .sub-head {
        margin-left: 0;
      }
    }

    .container {
      position: relative;
      &.header-cont {
        padding-top: 9.4%;
      }
    }
  }
}
