body.statistics-page {
  // Layout
  #hero {
    border: 0;
    background-position: top left;

    .video-link {
      display: table;
      height: 60px;
      margin: 30px auto;
      width: auto;
    }

    .learn-more {
      color: #FFFFFF;
      font-size: 14px;
      margin-top: 60px;
      opacity: .6;

      h1 {
        margin-top: 0;
        font-weight: 500;
      }

      a {
        color: $light-text-color;
      }
    }
  }

  .panel .flex-img-cont {
    width: 40%;
  }

  section {
    &.blue-bg {
      background: $light-blue-bg;

    }

    &.darkblue-bg {
      background: $super-dark-blue;
      color: #FFFFFF;
    }
  }

  // Typography
  .panel h1, .panel h2, .panel h3 {
    letter-spacing: 0;
  }

  p {
    max-width: 500px;
  }

  .stats-button {
    border: 1px solid $blue;
    border-radius: 5px;
    color: $blue;
    display: table;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 21px;
  }

  .text-center {
    &, * {
      text-align: center;
    }

    p, h3, h4, .secondary-cta {
      margin-left: auto;
      margin-right: auto;
    }
  }

  #section-confidence {
    background-image: url('../img/statistics/stats-wave.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #section-compare {
    .comparison {
      border-radius: 5px;
      margin: 15px;
      padding: 15px;
      width: 460px;

      .percent {
        color: $blue;
        font-size: 80px;
        font-weight: 400;
      }
    }

    .comparison-1 {
      border: 1px solid $blue;
    }

    .comparison-2 {
      background-color: $light-blue-bg;

      .percent {
        color: $light-text-color;
        font-weight: 200;
      }
    }
  }

  #section-worry {
    .points {
      padding: 60px 0;
    }

    .point {
      padding: 0 30px;
    }
  }

  #section-decisions {
    background-image: url('../img/statistics/stats-wave-white.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    h2 {
      font-weight: 900;
      margin-bottom: 60px;
    }
  }

  .panel {
    h1 {
      &.white {
        font-family: $gotham-large-type;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 44px;
      }

      &.light {
        opacity: 0.33;
        font-family: $gotham-large-type;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 44px;
      }

      &.dark {
        font-family: $gotham-large-type;
        font-size: 36px;
        color: #00415d;
        letter-spacing: 1px;
        line-height: 44px;
      }
    }

    h2 {
      font-family: $gotham-large-type;
      font-size: 30px;
      font-weight: 400;
      color: #00415D;
      letter-spacing: 1px;
      line-height: 38px;


      &.white {
        font-family: $gotham-large-type;
        font-size: 30px;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 1px;
        line-height: 38px;
      }
    }

    h3 {
      font-family: $gotham-small-type;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 2px solid $blue;
      color: #00415D;
      display: table;
      letter-spacing: 1px;
      line-height: 20px;
      padding-bottom: 7px;
      text-transform: uppercase;

      &.white {
        font-family: $gotham-small-type;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 2px solid $blue;
        color: #ffffff;
        letter-spacing: 1px;
        line-height: 20px;
        padding-bottom: 7px;
        text-transform: uppercase;
      }

      &.no-underline {
        border-bottom: 0;
      }
    }

    p {
      font-family: $gotham-small-type;
      font-weight: 400;
      font-size: 16px;
      font-weight: 100;
      color: #00415D;
      letter-spacing: 0.5px;
      line-height: 30px;
    }

    p.white {
      font-family: $gotham-small-type;
      font-weight: 400;
      font-size: 16px;
      font-weight: 100;
      color: #FFFFFF;
      letter-spacing: 0.5px;
      line-height: 30px;
    }

    a.text {
      font-family: $gotham-small-type;
      font-size: 16px;
      color: #0081ba;
      letter-spacing: 0.5px;
      line-height: 26px;
      text-decoration: underline;
    }

    .primary-cta {
      /* maintain a button max-height 40px*/
      border-radius: 4px;
      background: #0081BA;
      border: 1px solid #00415D;
      padding: 10px 20px;
      font-family: $gotham-small-type;
      font-size: 18px;
      color: #FFFFFF;
      line-height: 22px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    .secondary-cta {
      /* maintain a button max-height 40px*/
      border-radius: 4px;
      border: 1px solid $blue;
      color: #00415D;
      padding: 10px 20px;
      font-family: $gotham-small-type;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.5px;

      &.white {
        color: #FFFFFF;
      }
    }
  }
}
