---
layout: modal_wrapper
wrapper_id: contact-sales-thank-you-wrap
data_modal_id: contact-sales-thank-you
data_modal_name: contact-sales-thank-you
TR_modal_title: Thank you
#modal_sub_header: "Please tell us about yourself and your company (all fields required):"
#primary_button_text: Contact Sales
TR_negative_button_text: Sounds good
---
<h4>{{{tr 'Thanks for contacting us. We will be in touch shortly. In the meantime, check out our <a href="{0}/resources">resources</a> to start planning your optimization program.' linkPath}}}</h4>
