---
layout: modal_wrapper.hbs
modal_title: Create experiment
modal_sub_header: Enter a URL below to get started on a new experiment!
form_id: create-exp-form
data_modal_id: create-exp
data_modal_name: create-experiment
wrapper_id: create-exp-dialog
form_method: GET
form_action: /edit
primary_button_text: Create experiment
negative_button_text: Cancel
---
              <label>
                  <span>Experiment name (optional)</span>
                  <input type="text" name="name" />
              </label>
              <label>
                  <span>Experiment URL</span>
                  <span class="url-related error-hide error-right">This field is required</span>
                  <input type="text" name="url" maxlength="500" required />
              </label>
