---
layout: modal_wrapper
TR_modal_title: "Create experiment"
TR_modal_sub_header: "Enter a URL below to get started on a new experiment!"
form_id: create-exp-form
data_modal_id: create-exp
data_modal_name: create-experiment
wrapper_id: create-exp-dialog
form_method: GET
form_action: /edit
api_domain: true
TR_primary_button_text: Create experiment
TR_negative_button_text: Cancel
---
              <label>
                  <span>{{tr 'Experiment name (optional)'}}</span>
                  <input type="text" name="name" />
              </label>
              <label>
                  <span>{{tr 'Experiment URL'}}</span>
                  <span class="url-related error-hide error-right">{{tr 'This field is required'}}</span>
                  <input type="text" name="url" maxlength="500" required />
              </label>
              <div class="options">
                  <p class="error-message error-hide">{{tr 'Please correct form errors'}}</p>
              </div>
