---
layout: modal_wrapper.hbs
wrapper_id: downgrade-plan-cont
data_modal_id: downgrade-plan
data_modal_name: downgrade-plan
form_id: downgrade-plan-form
modal_title: Are you sure you'd like to downgrade?
#modal_sub_header: "Please tell us about yourself and your company (all fields required):"
primary_button_text: Confirm Downgrade
negative_button_text: Cancel
---
<p>We've made a change to our plan structure, and as a result your existing plan type has been deprecated. If you choose to switch to our Starter plan, you will not be able to switch back to your current plan.</p>

<p><a href="#">Learn more about these changes &raquo;</a></p>
