---
layout: modal_wrapper.hbs
wrapper_id: nonprofits-video-modal
data_modal_id: nonprofits-video
data_modal_name: nonprofits-video
---
          <div id="player"></div>
          <iframe width="100%" height="100%" class="fallback-player" src="" frameborder="0" allowfullscreen></iframe>

