---
layout: modal_wrapper
wrapper_id: opticon-sponsor-modal
data_modal_id: opticon-sponsor-modal
data_modal_name: opticon-sponsor-modal
---
<div class="opticon-modal-container">
  <div class="opticon-modal-container__left">
    <div class="js-speaker-image opticon-modal-container__left__image" target="_blank"></div>
    <p class="js-speaker-name adelle-sans--bold opticon-modal-container__left__name" target="_blank"></p>
    <p class="js-speaker-company adelle-sans item-source opticon-modal-container__left__speaker" target="_blank"></p>
  </div>
  <p class="js-speaker-description opticon-modal-container__right"></p>
  <div class="opticon-modal-container__close-icon js-close"></div>
</div>
