---
layout: modal_wrapper
wrapper_id: opticon-sponsor-modal
data_modal_id: opticon-sponsor-modal
data_modal_name: opticon-sponsor-modal
---
<div class="company-container">
  <div class="company-container__left">
    <a class="js-company-image company-container__left__image" target="_blank"></a>
    <a class="js-company-name company-container__left__company-name" target="_blank"></a>
  </div>
  <p class="js-company-description company-container__right"></p>
  <div class="company-container__close-icon js-close"></div>
</div>
