---
layout: modal_wrapper
wrapper_id: opticon-sponsor-modal
data_modal_id: opticon-sponsor-modal
data_modal_name: opticon-sponsor-modal
---
<div class="company-container">
  <div class="company-container__left">
    <div class="js-company-image company-container__left__image"></div>
    <a class="js-company-name company-container__left__company-name"></a>
  </div>
  <p class="js-company-description company-container__right"></p>
</div>
