---
layout: modal_wrapper.hbs
wrapper_id: pricing-plan-signup-thank-you-cont
data_modal_id: pricing-plan-signup-thank-you
data_modal_name: pricing-plan-signup-thank-you
form_id: pricing-plan-signup-thank-you-form
modal_title: Thank you
negative_button_text: Sounds good
---
              <p>You’re all set to start optimizing with our Starter plan. Visit the <a href="/dashboard">Dashboard</a> to set up your first experiment.</p>
