---
layout: modal_wrapper.hbs
modal_title: Forgot Password
data_modal_id: reset-password
data_modal_name: reset-password
form_id: reset-password-form
wrapper_id: reset-password-dialog
form_method: POST
form_action: /recover/request
negative_button_action: signin
primary_button_text: Send Email
negative_button_text: Back
---
              <label>
                  <span>Email address</span>
                  <span class="email-related error-hide error-right">Email is required</span>
                  <input type="email" name="email" required>
              </label>
              <div class="options">
                  <p class="error-hide">Account was not found</p>
              </div>
