---
layout: modal_wrapper.hbs
wrapper_id: video-modal
data_modal_id: video-modal
data_modal_name: video-modal
---
          <div id="player"></div>
          <iframe width="100%" height="100%" class="fallback-player" src="" frameborder="0" allowfullscreen></iframe>

