---
layout: modal_wrapper.hbs
wrapper_id: webinar-signup-modal
wrapper_class: webinar-modal
data_modal_id: webinar-signup
data_modal_name: webinar-signup
form_action: /webinar/register
form_id: webinar-registration-form
modal_title: Webinar Signup
form_method: POST
primary_button_text: Register
negative_button_text: Cancel
---
          <div class="webinar-info-cont">
            <div class="left">
              <p>Selected date:</p>
            </div>
            <div class="right webinar-info">
              <div class="webinar-detail-info"></div>
            </div>
          </div>
          <div class="clearfix" style="clear: both;">
            <label>
              <span>Name: </span>
              <span class="name-related error-hide error-right">Name is required</span>
              <input type="text" id="name" name="name" required></input>
            </label>
            <label>
              <span>Email:</span>
              <span class="email-related error-hide error-right">Email is required</span>
              <input type="email" id="email" name="Email" required></input>
            </label>
            <input type="hidden" name="WebinarRegistrationDate" id="date-long" value="">
            <input type="hidden" name="lpId" value="-1">
            <input type="hidden" name="subId" value="56">
            <input type="hidden" name="FirstName" value="">
            <input type="hidden" name="LastName" value="">
          </div>
          <div class="privacy-policy">
            <a href="{{linkPath}}/privacy">Privacy Policy</a>
          </div>
